<div class="left-nav">
  {{#link-to conversationRoute organizationSlug groupSlug conversation.slug}}
    <i class="uk-icon-chevron-left"><span class="sr-only">Back</span></i>
  {{/link-to}}
</div>

<div class="right-nav">
</div>
