%p
  We're writing in regards to your mail to #{@organization.name.inspect}
  with the subject
  %blockquote= @incoming_email.subject

%p
  As far as we can tell, you are not a member of this organization,
  so your message is being held for approval by a organization member.

%p
  You will be notified when action is taken to accept or reject your
  message.

%p
  If you are in fact a member of this organization, you may need to add
  %strong= @incoming_email.from
  to your Covered account, which you can do on your
  #{link_to "your profile", profile_url}.

%p ♥
