%p
  Your mail to #{@organization.name.inspect} with the subject
  %blockquote= @incoming_email.subject

%p has been rejected by a organization member, and was not posted.

%p We're sorry it didn't work out. :(

%p No further action is required.

%p ♥
