<!DOCTYPE html>
<html>
  <head>
    <title>Covered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      Covered.currentUserId = <%= covered.current_user_id.to_json %>;
    </script>
  </head>
  <body>
  </body>
</html>
