.story
  .background
    %img{src:"http://farm2.staticflickr.com/1308/4703671621_3d26007039_b.jpg"}
  .content
    .lead.date
      %small Saturday, August 1st, 2012
    %h1 Syzygryd Takes Shape
    .lead.body
      Fabrication on Syzygryd is going strong over at NIMBY. The past couple days have seen the central structure really become a thing. With a combination of ratchet straps, ropes, cables...
      %small (more)
