.story
  .background
    %img{src:"http://www.syzygryd.com/wp-content/uploads/2010/07/SyzyArm.jpg"}
  .content
    .lead.date
      %small Saturday, August 4th, 2012
    %h1 Time lapse of structure construction!
    .lead.body
      The Syzygryd team has been hard at work in the shop fabricating the central support stucture and the arms. Check out Dan Garcias...
      %small (more)
