:javascript
  mixpanel.track('Pricing page visited');
  $(function(){
    $('.section-one .header-huge, .section-one .header-sub').addClass('shown');

    scrollToElement.offsetY = $('.nav').height() * -1;
    var hash = location.hash.slice(1);
    if (hash === "") return;
    scrollToElement(hash, false);
  });

= javascript_include_tag 'show'

.homepage.pricing-page.page-column
  %section.options
    Threadable is
    %span.hype
      free
    for groups of any size, for as long as you want.
    .sub
      When it's time to take it to the next level, we've got you covered with
      %span.hype
        Threadable Pro.
    .call-to-action
      %a.button.black-button.large-button{href: root_url} CREATE YOUR THREADABLE

  %section.uk-width-3-4.uk-container-center.features
    .uk-grid.uk-grid-small
      .uk-width-2-5
        .divider
      .uk-width-1-5.section-title
        PRO FEATURES
      .uk-width-2-5
        .divider

    .uk-grid.uk-grid-divider.uk-grid-preserve.feature-grid{'data-uk-grid-match' => true}
      .uk-width-large-1-4.feature
        .title
          PRIVATE GROUPS
        .description
          Have a project that's on a need-to-know basis? Private groups are completely hidden from anyone who isn't a group member.
      .uk-width-large-1-4.feature
        .title
          ACCESS CONTROL
        .description
          Fine-grained control over what your organization members can change and control
      .uk-width-large-1-4.feature
        .title
          GOOGLE APPS
        .description
          Integrate with Google Docs and Calendar, and keep your membership in sync with your Google Apps domain
      .uk-width-large-1-4.feature
        .title
          CUSTOM DOMAIN
        .description
          Send & receive email at your own domain

  %section.uk-width-2-4.uk-container-center.pricing-holder
    .uk-grid.uk-grid-preserve
      .uk-width-2-5.pricing
        Threadable Pro
        .price
          %span.currency
            $
          %span.amount
            3
          %span.change
            00
        .smaller
          per active user / month
      .uk-width-3-5.details
        / Thing about beta pricing
        %br
        We'll only ever charge you for active users. An active user is any user
        who has confirmed their Threadable account and has not disabled email.

  %section.uk-width-3-4.uk-container-center.features
    .uk-grid.uk-grid-small
      .uk-width-2-5
        .divider
      .uk-width-1-5.section-title
        FREE FEATURES
      .uk-width-2-5
        .divider

    .uk-grid.uk-grid-divider.uk-grid-preserve.feature-grid{'data-uk-grid-match' => true}
      .uk-width-large-1-4.feature
        .title
          UNLIMITED EVERYTHING
        .description
          No caps on membership, ever. Unlimited messages, and unlimited groups. Don't limit your communication.
      .uk-width-large-1-4.feature
        .title
          OPEN GROUPS
        .description
          Anyone in your organization can read or join. Make organizational transparency easy.
      .uk-width-large-1-4.feature
        .title
          SYNC TO INBOX
        .description
          Join a new group? Receive messages you missed, right in your inbox.
      .uk-width-large-1-4.feature
        .title
          DELIVERY OPTIONS
        .description
          Get each message, just the first message in each conversation, or a daily summary. Control your Signal-to-noise.
    .uk-grid.uk-grid-divider.uk-grid-preserve.feature-grid{'data-uk-grid-match' => true}
      .uk-width-large-1-4.feature
        .title
          FOLLOW
        .description
          Easily join a single conversation, without joining the whole group.
      .uk-width-large-1-4.feature
        .title
          ONE-CLICK MUTE
        .description
          Stop receiving a single conversation, in every mail client, but keep the rest flowing.
      .uk-width-large-1-4.feature
        .title
          PUBLIC SIGNUP
        .description
          Allow anyone on the internet to join your organization with a public front page.


  %section.sign-up
    = render 'shared/threadable_logo'
    .call-to-action
      %a.button.black-button.large-button{href: root_url} CREATE YOUR THREADABLE

:javascript
  #{render 'sign_up_form.js'}
