%br/
%br/

.fluid-columns
  .row
    .span9.offset3.well.text-center
      %h1 Covered is coming soon!
      %br/
      .lead
        Learn more at #{link_to 'http://signup.other.io', 'http://signup.other.io'}
