%ol
  %li.with_message
    = render_widget :message, Message.first, 0

  %li.with_message
    - # this gets us a specific message that contains quoted text from the fixtures
    = render_widget :message, Message.where("body_plain != stripped_plain and body_plain like 'This turned out super awesome%'").first, 1
