.error-layout
  text-align: center
  h1
    font-size: 120px
    line-height: 120px

  .sad-kitten
    width: 500px
    height: 281px
    background-color: black

  .fail
    width: 380px
    height: 237px
    background-color: black
