%table.table
  %thead
    %tr
      %td From
      %td Subject
      %td
  %tbody
    - @held_messages.each do |held_message|
      %tr
        %td= held_message.from
        %td= held_message.subject
        %td
          = link_to 'Reject', reject_organization_held_message_path(@organization, held_message), class: 'btn', data:{method:'POST'}
          = link_to 'Accept', accept_organization_held_message_path(@organization, held_message), class: 'btn', data:{method:'POST'}
