%p
  Hey all! This looks pretty neat. Lets see if I can help you out here...
%p
  So on the kayak, we use two layers of carbon plus some batting on the bottom, and carbon/glass on the sides.
  Looking at the drawings on your blog, it seems like the top of the bodywork has a pretty wide unsupported area.
  In that case, I'd go for the carbon/glass, even though it's a little heavier. You could also use single layers
  of carbon and back it with some rod or some aluminum to reduce flexing and make it less likely to crack.
%p
  Good luck!
%p
  Andy
