%p
  This turned out super awesome! Yan and Bethany and I stayed til 8pm doing the layup and fitting everything on the vacuum table.
  The pieces are curing in the oven now, but we got some photos of them before they went in. Bethany got epoxy everywhere! It was
  pretty funny.
%p
  %img.message-photo{src: '/img/car_body.jpeg'}
  %img.message-photo{src: '/img/car_body_2.jpeg'}
