%ul.tabs.nav.nav-tabs
  %li.tasks
    <a href="/<%= slug %>/tasks"><i class="icon-check"></i> Tasks</a>

  %li.members
    <a href="/<%= slug %>/members"><i class="icon-user"></i> Members</a>

  %li.pull-right
    %h4 <%= name %>

.folders
