<div class="left-nav">
  <a href="" {{action focusConversations}}>
    <i class="uk-icon-chevron-left"></i>
  </a>

</div>
<div class="right-nav">
  <a href="" {{action 'muteConversation'}}><i class="uk-icon-volume-down"></i></a>
</div>
