<div class="left-nav">
  {{#link-to 'conversations' currentOrganization.slug currentGroup.slug}}
    <i class="uk-icon-chevron-left"></i>
  {{/link-to}}

</div>
<div class="right-nav">
  <a href="" {{action 'muteConversation'}}><i class="uk-icon-volume-down"></i></a>
</div>
