.sign-up-form
  .uk-container-center.uk-width-large-2-3.uk-width-medium-2-3.thank-you
    %h2 Thank you
    %h3 We sent you an email to confirm your address. Click the link there to complete registration.
