%h1 Welcome to Threadable!

%p
  We're really glad you're joining us!
%p
  = link_to 'Click here to confirm your email address and create your organization', @confirm_sign_up_url

\--
Threadable Team
