%h1 Welcome to Threadable!


%p
  We're super excited that you're joining our preview release.
  = link_to 'Click here to confirm your email and create your organization', @confirm_sign_up_url

\--
Threadable Team
