.main-project-list
  %ol.projects.nav.nav-list
    <% projects.each(function(project){ %>
    %li
      <a href="/projects/<%= project.get('slug') %>/tasks"><%= project.get('name') %></a>

    <% }); %>
    %li
      %input{type:'text', placeholder: 'new project…'}

