html, body
  height: 100%
  width: 100%

body >
  .nav
    margin: 0

  .main
    // position: relative
    // overflow: hidden
    min-height: 600px
    min-width: 800px
    height: 100%
    width: 100%
    padding-top: 3px
    > div
      margin-top: $nav_height
    .icon-check
      font-size: 17px
    .icon-user
      font-size: 17px
    .icon-edit
      font-size: 17px
    .icon-info-sign
      font-size: 17px

.navbar .navbar-inner
  padding-left: 20px
  padding-right: 20px
