html, body
  height: 100%
  width: 100%

body >
  .nav
    margin: 0

  .main
    // position: relative
    // overflow: hidden
    min-height: 600px
    min-width: 800px
    height: 100%
    width: 100%
    > div
      margin-top: $nav_height

.navbar .navbar-inner
  padding-left: 20px
  padding-right: 20px
