.nav
  z-index: 10
  position: fixed
  top: 0
  left: 0
  right: 0
  min-width: 100%
  white-space: nowrap

  &, > .content
    height: $nav-height
    background-color: $black-color

  &.inside, > .inside
    background-color: shade(#35afc6, 50%)

  > .content
    margin: 0 auto
    max-width: $max-page-width
    overflow: hidden

    > *
      margin-top: 15px

    > .left-nav
      float: left
      margin-left: 2em
      +small-screens
        margin-left: 15px

      .menu-nav
        +medium-to-large-screens
          display: none
        +small-screens
          display: inline-block

        font-size: 27px
        color: tint($teal-color, 70%)
        width: 23px
        a
          overflow: hidden
          text-overflow: ellipsis

    > .right-nav
      float: right
      margin-right: 2em
      +small-screens
        margin-right: 15px

      .horizontal-nav
        .inside
          letter-spacing: 1px
          font-size: 15px
          line-height: 9px
        +medium-to-large-screens
          display: inline
        +small-screens
          display: none

  .threadable-logo
    font-size: 30px
    line-height: 40px
    height: 40px
    width: 140px
    +small-screens
      display: inline
      font-size: 28px
      margin-left: 15px
    svg *
      fill: white

  .button
    color: $white-color
    text-transform: uppercase



  @media (max-width: 400px)
    > .content > .right-nav
      > *
        display: none
      > .sign-in-button
        display: inline-block

