.top-box
  font-family: $header-font-family
  text-align: center
  background-color: tint(#35afc6, 20%)
  color: white
  font-weight: 200
  font-size: 25px
  padding: 35px 0
  .sub
    font-size: 30px
    padding-bottom: 10px
  .hype
    font-weight: 600
