.tasks-and-conversations-layout
  .left
    .padding
      = render_widget :tasks_sidebar, @organization, conversations: false, with_title: true, tasks: @tasks
  .right
    .padding
      = render_widget :conversation_list, @organization, conversations: @conversations
