.tasks-and-conversations-layout
  .left
    .padding
      = render_widget :tasks_sidebar, @project, conversations: false, with_title: true
  .right
    .padding
      = render_widget :conversation_list, @project, conversations: @conversations
