
- if @conversation.task?
  = render_widget :task_metadata, task: @conversation, user: current_user

- else
  = render_widget :conversation_metadata, conversation: @conversation

%hr.narrow

= render_widget :conversation_messages, @conversation
