%div= haml :loggedinnavbar
.container-fluid
  .row-fluid
    .left.span3
      %div.vertical-line
        %div= haml :tasks

    .right.span9
      %div.vertical-line
        %div= haml :"tasks/carbon_convo"


