%h1 Awww!

%p We just unsubscribed #{@user.name} from #{@project.name}

%p
  They'll miss you! If you hit this by mistake,
  = link_to 'click here to resubscribe!', project_subscribe_path(@project, @unsubscribe_token)
