%ul.nav.nav-list
  %li.nav-header Projects
  %li.list
  %li
    %form
      %input.span12.input-medium{type:'text',placeholder:'New Project'}
      %input.span12.input-medium{type:'submit',style:'display:none'}
