%table.table.table-striped.table-bordered.table-hover
  %thead
  %tbody

%form.new-task
  .input-prepend
    %span.add-on
      %i.icon-edit
    %input.span11.input-xxlarge{type: 'text', placeholder: 'New Task'}
