body.logged-in > .main > .index
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  > .panels
    background-color: yellow
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100%
    > *
      position: relative
      overflow: hidden

    > .left
      overflow: hidden
      width: 300px
      background-color: pink
      > .vertical-box
        @import "views/logged_in/index/projects"
        @import "views/logged_in/index/feed"

    @import "views/logged_in/index/main"



// @import "views/dashboard/project_panel"

