- organization = current_user.organizations.all.first
- conversation = organization.conversations.latest
- member = organization.members.all.first
= render_widget :conversation_messages, conversation, from: member
