.row
  .span6.offset4
    %a{href:"", onclick:'showDoersPopover(this);'} Show Doers Popover
    = render_widget :doers_popover

- task = Covered::Task.with_doers.first
- doers = task.doers
- project_members = task.project.members

:javascript
  function showDoersPopover(link){
    $(link).parent().find('.doers_popover').widget().show({
      target:          $(link),
      project_members: #{project_members.to_json},
      doers:           #{doers.to_json},
      addDoer:         function(){ alert("doer added") },
      removeDoer:      function(){ alert("doer removed") }
    })
  }
