<li class="task">
  {{#link-to conversationRoute organizationSlug groupSlug task.slug class="not-link"}}

    <i class="uk-icon-chevron-right arrow"></i>
    <i class="uk-icon-bars burger"></i>

    <section class="subject">
      {{task.subject}}
    </section>

    <section class="groups">
      {{#each group in task.groups}}
        <span class="badge badge-small" {{bind-attr style="group.badgeStyle"}}>+{{group.name}}</span>
      {{/each}}
    </section>

  {{/link-to}}
</li>
