.add-member
  height: 100%
  padding: 0 1em

  h2
    margin-top: 0.5em
  +medium-to-large-screens
    h2
      margin-top: 0

  .left-nav
    padding-top: 5px
    float: left
  .right-nav
    padding-top: 5px
    float: right

  .uk-active
    color: #f39c12

  .form-row
    color: #b9c0c7
    border-bottom: 1px solid #e3e3e3
    font-weight: 200
    height: 46px
    line-height: 46px
    font-size: 18px
    padding: 0 5px

  textarea
    width: 100%
    margin: 0
    padding: 5px
    height: 208px
