.avatar
  display: inline-block
  border: 2px solid white
  overflow: hidden
  +border-radius(100px)
  &, img
    height: 48px
    width: 48px

.avatar-small
  display: inline-block
  border: 1px solid white
  overflow: hidden
  +border-radius(60px)
  &, img
    height: 30px
    width: 30px
