.badge
  +no-select
  color: #ffffff
  padding: 3px 5px
  line-height: 15px
  background-color: transparent
  text-align: center
  +border-radius(5px)
  text-shadow: 0 1px 1px #555
  font-weight: normal
  font-size: 14px

  > a
    color: inherit
    +opacity(0.5)
    &:hover
      +opacity(1)

  &.badge-small
    font-size: 12px
    line-height: 13px

  &.badge-private
    background-color: #bdc3c7

a.badge
  cursor: pointer
  &, &:hover, &:active, &:visited
    color: #ffffff
    text-decoration: none

a .badge
  cursor: inherit
