.colorblind
  .group-members-list
    .members-list > li
      .toggle.remove
        &:hover
          background-color: $colorblind-bright-red-color

  .organization-dashboard > .sidebar .held-message-button > a
    background-color: $colorblind-dark-red-color
    &:hover
      background-color: $colorblind-light-red-color
