.danger-zone
  padding: 20px
  background-image: -webkit-repeating-linear-gradient(-45deg, #FBE7C9, #FBE7C9 15px, #F7D2D0 15px, #F7D2D0 30px)
  background-image: -moz-repeating-linear-gradient(-45deg, #FBE7C9, #FBE7C9 15px, #F7D2D0 15px, #F7D2D0 30px)
  background-image: -o-repeating-linear-gradient(-45deg, #FBE7C9, #FBE7C9 15px, #F7D2D0 15px, #F7D2D0 30px)
  background-image: repeating-linear-gradient(-45deg, #FBE7C9, #FBE7C9 15px, #F7D2D0 15px, #F7D2D0 30px)

  .title
    margin-bottom: 3px
  .subtitle
    margin: 0 0 15px 0
    font-size: 12px
