.doer-selector
  font-size: $normal-font-size
  background-color: $lighter-grey-color

  > .label
    font-size: 20px

  +small-screens
    .caret-icon
      display: none

  > ul
    margin: 0
    padding: 0
    list-style: none
    min-width: 350px

  li:hover
    background-color: $faint-blue-color

  li
    > a
      display: block
      padding: 3px 8px
      white-space: nowrap
      overflow: hidden
      line-height: $avatar-small-height
    & ~ li
      border-top: 1px solid $light-grey-color

  .is-doer
    font-weight: 500

  .right-content
    margin-top: 4px

  .left-content
    margin-right: 1em
    overflow: hidden
    text-overflow: ellipsis

  .avatar
    margin-top: .25em
    margin-right: .5em

  .name
    line-height: 21px

  .email
    line-height: 16px
    font-size: 12px
    margin-bottom: 2px

  .changed
    background-color: $faint-yellow-color

  .changed:hover
    background-color: $faint-blue-color

  .toggle-doer
    color: $dark-grey-color
