
.event

  padding: 3px 10px
  margin: 0
  list-style: none
  line-height: 15px
  background-color: $faint-yellow-color
  color: #9B9B9B
  font-weight: 200

  & ~ li
    border-top: 1px solid #d2d5d9

  .person
    font-weight: bold
