.group-settings
  padding: 10px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  .warning
    margin: 5px
    min-height: 40px

    i
      font-size: 40px

    .text
      margin-left: 50px

  .email
    @include hyphens(none)

  .update-button
    width: 12em

  .toggle-advanced
    margin: 10px 0
    display: inline-block

  .advanced
    margin-bottom: 10px

    .toggle-advanced
      margin-bottom: 0

    .example-address
      font-weight: bold
      white-space: nowrap

    .destination-address
      margin-left: 20px

    .address-list
      padding-left: 25px

  .ember-text-area
    width: 100%

  .textarea-remaining
    float: right
    font-size: 12px
    margin-bottom: -20px

  .notice
    font-size: 13px
    margin-left: 10px

    i
      color: $bright-green-color

  .upgrade
    font-size: 13px

    i
      color: $brand-color
