.groups-pane
  background-color: $dark-grey-color
  color: #666
  overflow-x: hidden

  .current-user-controls
    position: absolute
    height: 90px
    left: 0
    top: 0
    right: 0
    padding: 1em
    color: #ccc
    min-height: 50px
    .avatar
      position: absolute
      top: 1em
      left: 1em
    .details
      margin: 0 50px 0 65px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      line-height: 16px
      .name
        font-size: 162%
        line-height: 30px
        height: 30px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
      .organization-name
        font-size: 90%
      .organization-email-address
        font-size: 90%
    .settings-gear
      position: absolute
      top: 1em
      right: 1em
      color: inherit
      font-size: 200%

  .bottom-nav
    background-color: $dark-grey-color
    position: absolute
    left: 0
    bottom: 0
    right: 0
    height: 82px

    .feedback
      background-color: #1b5479
      & :hover
        background-color: #226a99

  .main-nav
    position: absolute
    left: 0
    bottom: 82px
    right: 0
    top: 90px

    .groups-list

      > li
        position: relative

        a.active
          background: #404040
          color: #ffffff
          outline: none

        .badge
          position: absolute
          top: 10px
          right: 10px
          bottom: 10px

      .held-message-button
        background-color: #744E4E
        & :hover
          background-color: #833f3f

  .settings
    margin-bottom: 2em

  .organization
    margin-bottom: 2em
    .a-header
      padding: 0
      border: none
      box-shadow: none
      border-top: none
      color: #777777
