.group-settings
  padding: 10px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  .warning
    margin: 5px
    min-height: 40px

    i
      font-size: 40px

    .text
      margin-left: 50px

  .email
    @include hyphens(none)
