.icon-with-text
  display: inline-block
  text-align: center

  > *
    display: block
  > i
    font-size: 200%
  > span
    font-size: 80%
    line-height: normal

a.icon-with-text
  &:hover, &:visited, &:active
    text-decoration: none
    color: inherit
