.load-more-button
  margin-top: 3px
  display: block
  text-align: center
  padding: 1em
  background-color: #333333

  color: #cccccc
  border-top: 1px solid rgba(0, 0, 0, 0.3)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05)
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)

  &, &:hover, &:active
    text-decoration: none

  &:hover, &:focus
    background: #404040
    color: #ffffff
    outline: none
