.member-settings
  > .setting
    margin-bottom: 18px
    > *
      display: inline-block
    > .label
      width: 200px
      margin: 0

  .subtitle
    margin: 0
    font-size: 12px


  .danger-zone
    background-image: url(image_path('danger-stripes.png'))
    max-width: 465px

    h4
      margin-bottom: 3px

    .subtitle
      margin-bottom: 15px
