.members-list
  list-style: none
  &, > li
    margin: 0
    padding: 0

  > li
    $padding: $default-font-size
    border-bottom: 1px solid $light-grey-color
    font-weight: 200
    white-space: nowrap
    > *
      position: relative
      padding: 5px $padding 5px ($padding + 30px + $padding)
      display: block
    > a:hover
      background-color: $faint-blue-color
    .avatar
      +absolute(8px, $padding, $padding, null)
    .name
      font-size: $large-font-size
    .email-address
      line-height: $large-font-size
    .name, .email-address
      overflow: hidden
      text-overflow: ellipsis
