.message
  padding: 10px
  margin: 0
  list-style: none
  min-height: 70px

  .conversation-event

  .sender_name
    margin: 9px 0 0 60px
    font-size: 20px
    line-height: 20px

  .avatar
    float: left

  .date
    color: #aeadac
    margin: 0 9px
    font-weight: 100

  .body
    margin-top: 10px

  .expand-quoted
    display: block
    width: 20px
    font-size: 15px
    line-height: 15px
    margin-top: 10px
    cursor: pointer
