.navbar
  height: $navbar-height
  overflow: hidden
  background: #333333
  font-size: 18px
  padding: 0 0.5em
  &,a,a:hover,a:active,a:visited
    color: white

  *
    line-height: $navbar-height

  .left-nav
    float: left
  .right-nav
    float: right

  a
    padding: 0 0.25em
    display: inline-block
    height: $navbar-height

  i
    font-size: 30px

  .current-org-and-group
    +mini-to-medium-screens
      position: relative
      top: -5px

  a.nav-button
    height: 1.6em
    margin: 0
    width: 2.5em
    text-align: center
    padding-top: 0.12em

  .uk-active
    color: #ffe200
