.navbar
  height: $navbar-height
  overflow: hidden
  background: $dark-grey-color
  font-size: 18px
  padding: 0 0.5em
  .left-nav, .right-nav
    > *
      line-height: $navbar-height
    > a
      padding: 0 0.25em
      display: inline-block
      height: $navbar-height
      &, &:hover,&:active,&:visited
        color: white
      i
        font-size: 30px

  .left-nav
    float: left
  .right-nav
    float: right

  .uk-active
    color: #f39c12

  .current-org-and-group
    color: white
    +mini-to-medium-screens
      position: relative
      top: -5px

  a.nav-button
    height: 1.6em
    margin: 0
    width: 2.5em
    text-align: center
    padding-top: 0.12em

