.navbar
  overflow: hidden
  background: darkgrey
  font-size: 130%
  padding: 0 0.5em
  &,a,a:hover,a:active,a:visited
    color: white

  .left-nav
    float: left
  .right-nav
    padding-top: 5px
    float: right

  a
    display: inline-block
    padding: 0.25em
  i
    font-size: 130%

  a.nav-button
    height: 1.6em
    margin: 0
    width: 2.5em
    text-align: center
    padding-top: 0.12em

  .uk-active
    color: #ffe200
