.organization-members
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  ul
    font-size: $normal-font-size
    list-style: none
    margin: 0
    padding: 0
    width: 100%
    font-weight: 200

    li:hover
      background-color: $faint-blue-color

    li
      > a
        display: block
        padding: 3px 8px
        white-space: nowrap
        overflow: hidden
        line-height: $avatar-small-height
      & ~ li
        border-top: 1px solid $light-grey-color
    li.add-member
      height: 49px

  .right-content
    margin-top: 4px

  .left-content
    margin-right: 1em
    overflow: hidden
    text-overflow: ellipsis

  .avatar
    margin-top: .25em
    margin-right: .7em

  .name
    line-height: 23px
    font-size: 18px

  .email
    line-height: 18px
    font-size: 14px
    margin-bottom: 2px

  .add-button
    a
      line-height: 41px
      font-size: 18px

    i
      margin-left: .1em
      margin-top: .25em
      margin-right: .5em
      font-size: 30px
