.organization-members
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  .add-button
    > a
      padding-left: $default-font-size
      line-height: 41px
      font-size: 18px
      &:hover
        background-color: transparent

    i
      margin-left: .1em
      margin-top: .25em
      margin-right: .5em
      font-size: 30px
