.organization-members
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  .unconfirmed
    font-size: 11px
    margin-left: 5px
    color: #c0392b

  .add-button
    > a
      padding-left: $default-font-size
      line-height: 41px
      font-size: 18px

  .stats
    line-height: 41px
    font-size: 18px

    // I'm not sure why this is necessary, but whatev.
    i
      margin: 0
      padding-top: 12px
      padding-left: 14px

  i
    margin-left: .1em
    margin-top: .25em
    margin-right: .5em
    font-size: 30px

