.reply
  padding: 0

  fieldset
    margin: 0

  textarea
    width: 100%
    margin: 0
    padding: 5px
    height: 208px

  .pending-doer
    border: 1px solid $lighter-grey-color
    color: $dark-grey-color
    border-radius: 3px
    display: inline-block
    padding: 3px 5px 3px 3px
    margin: 2px
    .subtitle
      font-weight: 200
      color: $grey-text-color

  .controls
    text-align: right
    padding: 5px
    border-top: 1px solid #d2d5d9

  .trash-warning
    i
      color: $bright-red-color
      font-size: $huge-font-size
      float: left
      line-height: 22px

    div
      margin-left: 40px
