.sign-in-form
  padding: 20px

  h2
    margin-top: 2em

  .promotext
    font-weight: 200
    margin-top: 2em

  .footer
    color: $grey-color
    font-weight: 100
    position: absolute
    left: 0
    bottom: 0
    right: 0
    height: 36px
    padding: 4px
