.tasks-list

  .task-controls
    overflow: hidden
    padding: 5px 15px
    background-color: $lighter-grey-color
    font-size: 0
    a
      padding: 0.35em 0 0.25em 0
      margin: 0 0.75em
      font-size: 14px
      border: 1px solid transparent
    color: $dark-grey-color

    .tasks, .doing-tasks
      border: 1px solid $light-grey-color
      background: rgba(0,0,0,0.1)
      background-color: white
      margin: 0
      padding: 0.35em 0.75em 0.25em
      &.active
        background-color: #dadada
        color: lighten($dark-grey-color, 40%)

    .toggle-done
      min-width: 56px
      .hide
        display: none
      .show
        display: block
      &.active
        .hide
          display: block
        .show
          display: none

  .list-divider
    padding: 0 5px 0 15px

  .done, .not-done
    > ol
      &, > li
        margin: 0
        padding: 0
      > li
        $height: 60px
        $padding: 5px

        position: relative
        overflow: hidden
        color: black
        border-bottom: 1px solid $light-grey-color

        > a
          display: block
          height: $height - $padding - $padding
          padding: $padding $padding $padding 15px

        .arrow
          position: absolute
          top: 0
          right: 15px
          bottom: 0
          height: 100%
          line-height: $height
          font-size: 120%


  .done
    display: none
    > ol > li
      background-color: $faint-yellow-color

  &.showing-done
    .done
      display: block

