.tasks-list

  $task-controls-height: 60px

  .task-controls
    position: absolute
    top: 0
    left: 0
    right: 0
    +medium-to-large-screens
      top: $conversations-list-controls-height
    overflow: hidden
    height: $task-controls-height - 10px
    padding: 5px 15px
    background-color: $lighter-grey-color
    font-size: 0
    color: $dark-grey-color
    a
      padding: 0.35em 0 0.25em 0
      margin: 0 0.75em
      font-size: 14px
      border: 1px solid transparent

    .tasks, .doing-tasks
      border: 1px solid $light-grey-color
      background: rgba(0,0,0,0.1)
      background-color: white
      margin: 0
      padding: 0.35em 0.75em 0.25em
      &.active
        background-color: #dadada
        color: lighten($dark-grey-color, 40%)

    .toggle-done
      min-width: 56px

    .prioritize
      min-width: 41px

  .list-divider
    padding: 0 5px 0 15px


  > .scrollable
    position: absolute
    left: 0
    right: 0
    bottom: 0
    +small-screens
      top: $task-controls-height
    +medium-to-large-screens
      top: $task-controls-height + $conversations-list-controls-height


  .done-tasks, .not-done-tasks
    > ul
      &, > li
        margin: 0
        padding: 0

    li.task
      $height: 60px
      $padding: 5px

      position: relative
      overflow: hidden
      color: black
      border-bottom: 1px solid $light-grey-color

      > a, > div
        display: block
        height: $height - $padding - $padding
        padding: $padding $padding $padding 15px

      > a.active
        background-color: $faint-blue-color

      .arrow, .burger
        position: absolute
        top: 0
        right: 15px
        bottom: 0
        height: 100%
        line-height: $height
        font-size: 120%
      .burger
        display: none

      &.being-dragged
        +opacity(0.5)
        border-bottom-color: transparent
        outline: 3px dotted $light-grey-color


  &.prioritizing
    .not-done-tasks li.task
      cursor: move
      .arrow
        display: none
      .burger
        display: block


  .done-tasks
    display: none
    > ul > li.task > a
      background-color: $faint-yellow-color
      &.active
        background-color: $yellow-color

  &.showing-done
    .done-tasks
      display: block

