.uk-notify-message
  a

  &.uk-notify-message-info
    a
      color: #2d7091

  &.uk-notify-message-success
    a
      color: #659f13

  &.uk-notify-message-warning
    a
      color: #e28327
  &.uk-notify-message-danger
    a
      color: #d85030
