<div {{bind-attr class=":conversations-list-controls showingConversationsListControls::hidden"}}>
  {{#link-to 'conversations' class="icon-with-text"}}
    <i class="uk-icon-comment-o"></i>
    <span>Conversations</span>
  {{/link-to}}
  {{#link-to 'tasks' class="icon-with-text"}}
    <i class="uk-icon-check"></i>
    <span>Tasks</span>
  {{/link-to}}
  {{#link-to 'muted_conversations' class="icon-with-text"}}
    <i class="uk-icon-volume-off"></i>
    <span>Muted</span>
  {{/link-to}}
  <a href="" class="icon-with-text">
    <i class="uk-icon-search"></i>
    <span>Search</span>
  </a>
</div>
