.well.well-centered.well-centered-wide
  %h1 You're Covered!

  %h3 Now go check your email.

  %p We just sent you an email with a link to confirm your email address and let you set a password for your account.
