.well
  %h2 Sorry! This page is under construction
  %h3 If you need to change anything about your account, email us at #{mail_to 'support@covered.io'} and we'll take care of it!

  %div{style:'text-align: center'}
    = image_tag 'under-construction.gif'
