.well.well-centered
  %h3 Thanks for signing up!
  .lead
    We just sent you an email with a link to confirm your email address and set a password
    for your account.
  %br/
  .lead
    Please go click it!

