%p
  Messages sent through Threadable arrive with some handy buttons at the top. If
  you're reading this in your inbox, you should see them right above this
  paragraph.

%p
  Here's what these buttons do:

  %ul
  %li
    %b Web view:
    Lets you view the conversation on the Threadable website.
  %li
    %b Mute:
    Click this to receive no further messages in a conversation.
  %li
    %b New conversation:
    Creates a new message to
    = organization.email_address
  %li
    %b New task:
    Creates a new task message to
    = organization.task_email_address

  Why are these buttons awesome? Here's one example:

%p
  From time to time, I'll reply to this thread with tips on how to get the most
  out of Threadable. If you'd prefer not to receive these messages, simply click
  the "Mute" button above. You’ll still be able to read new tips on the
  Threadable website (just click the "Web view" button above) but you’ll have
  one less conversation to deal with in your inbox. Easy!

%p
  Note: In order for them to function, the Web view and Mute buttons both
  require you to have created a password and be logged into the Threadable
  website. If you haven't created your password yet, you can do so at
  https://threadable.com/sign_in
