%p
  Hi. I'm Aaron, Threadable co-founder. Thanks for choosing us!

%p
  Threadable is a better mailing list, specifically designed to make working
  together with people more awesome.

%p
  If you've never used a mailing list before, it's super easy. Any email you
  send to
  = organization.email_address
  will be delivered to all of the members of
  = organization.name

%p
  Mailing lists have been around a long time so you've probably used one
  before, but we're a little different. Over the next few days, I'll send
  your group some tips for how to use Threadable to stay organized.

%p
  Also, note that Threadable is under very active development. If you see
  something that doesn't work for you, or if you think of anything you wish
  your group email did, let us know! You can email me personally at
  aaron@threadable.com, or you can reach the whole team at support@threadable.com.
