&
  $padding: 10px

  overflow: hidden
  white-space: nowrap
  background-color: $dark-grey-color
  font-size: 18px
  padding: 0 0.5em
  color: white

  .left-nav, .right-nav
    position: absolute
    top: 0
    bottom: 0
    height: $topbar-height
    > *
      line-height: $topbar-height + 8px
      display: inline-block
      height: $topbar-height
      padding: 0 0.25em
      vertical-align: baseline
    .uk-button
      margin-bottom: 8px
    > a
      &, &:hover,&:active,&:visited
        color: white
      i
        font-size: 30px

  .left-nav
    left: $padding
    right: 80px
    overflow: hidden

    > .burger
      position: absolute
      top: 0
      left: 0
      bottom: 0
      width: 1.5em
    > .current-org-and-group
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      overflow: hidden
      text-overflow: ellipsis
      line-height: 18px
      margin-top: 8px
      font-size: 18px
      .group-email-address
        display: block
        font-size: 12px
        overflow: hidden
      +small-to-medium-screens
        left: 2em

  .right-nav
    right: $padding

    +medium-to-large-screens
      .toggle-conversations-controls
        display: none

  .uk-active
    color: #f39c12

  .current-org-and-group


  a.nav-button
    height: 1.6em
    margin: 0
    width: 2.5em
    text-align: center
    padding-top: 0.12em
