%p.lead.conversation-title
  %i.icon-envelope.read-message
  = conversation.subject

.conversation-controls
  %a.control-link.muted
    why am i necessary
  .pull-right
    %a.control-link.muted{href:""}
      muted count

    &#183;

    %a.control-link.text-info.mute-conversation{href:""}
      %i.icon-volume-off
      mute conversation

