%ol
  - (conversation.messages + conversation.events).sort_by(&:created_at).each do |message_or_event|

    - case message_or_event
    - when Message
      %li.message
        = render_widget(:message, message_or_event)
    - when Task::CreatedEvent
      %li.event
        %span
          %strong
            #{message_or_event.user.name}
          created this task
        %span.pull-right
          =timeago(message_or_event.created_at)

= render_widget :new_conversation_message, conversation, from: from
