%ul.inline.middle-aligned
  %li
    %h2 Conversations
  %li
    = link_to "Compose", new_project_conversation_url(project), class: 'btn btn-text-thin'

%ul
  - conversations.each do |conversation|
    %li
      = link_to project_conversation_path(project, conversation) do
        (#{conversation.messages.count}) #{conversation.subject}
