%p.lead.conversation-title
  %i.icon-comment-alt.read-message
  = conversation.subject

.conversation-controls

  .pull-right
    %a.control-link.muted{href:""}
      muted count

    &#183;

    = render_widget :mute_conversation_link, conversation
