%input.user-search{:type => "text", :name => "doers-typeahead", :"data-provide" => "typeahead"}

.user-list
  %ul
    %li.user-list-item-template
      %a{href:""}
        %img.avatar-small
        %span.name
        %span.email

.controls
  %hr
  %a.invite-link{:href => ""}
    %i.icon-plus
    %span.invite-link-text
      Invite...
