- flash.each do |type, message|
  - case type
  - when :message
    %div.message.alert.alert-success
      %button{type: "button", class: "close", 'data-dismiss' => "alert"} &times;
      %strong Hey!
      = message

  - when :error
    %div.error.alert.alert-error
      %button{type: "button", class: "close", 'data-dismiss' => "alert"} &times;
      %strong Error!
      = message

  - when :notice
    %div.notice.alert.alert-info
      %button{type: "button", class: "close", 'data-dismiss' => "alert"} &times;
      %strong Notice!
      = message

  - when :alert
    %div.alert.alert-error
      %button{type: "button", class: "close", 'data-dismiss' => "alert"} &times;
      %strong Alert!
      = message
