%p
  - if message.user.present?
    = image_tag(message.user.avatar_url, :class => 'avatar-tiny', alt: message.user.name)
    %strong
      = message.user.name
  - else
    %strong
      = message.from
  %span.pull-right
    Date/Time
%p= message.body
