= simple_form_for message, as: :message, url: url, remote: remote do |f|
  - if show_subject
    .subject_field
      = f.input :subject, label: false, autofocus: autofocus, placeholder: 'subject'
  .body_field
    = f.input :body, as: :text, label: false, input_html: {cols: nil, rows: nil, placeholder: "Add your voice..."}
  .attachments
    .hidden.attachment-preview
      %a.remove{href:""}
        %i.icon-remove
      %a.preview{href:"",  target:"_blank"}
        %i.icon-file.icon-3x

      %input{type:'hidden', class: 'url',       name:'message[attachments][][url]'}
      %input{type:'hidden', class: 'filename',  name:'message[attachments][][filename]'}
      %input{type:'hidden', class: 'mimetype',  name:'message[attachments][][mimetype]'}
      %input{type:'hidden', class: 'size',      name:'message[attachments][][size]'}
      %input{type:'hidden', class: 'writeable', name:'message[attachments][][writeable]'}


  .pull-right
    %input.cloaked{type: 'submit'}
    %input.btn{type: 'submit', value: 'Send'}

  %button.attach-files.btn Attach Files
