.navbar.navbar-inverse.navbar-static-top
  .navbar-inner

    = link_to "Multify", root_url, class: 'brand'

    - if user.present?
      %ul.nav.pull-right
        %li= link_to user.name, user_url(user)
        %li= link_to 'Logout', destroy_user_session_url, :method => :delete

    - else
      %ul.nav.pull-right
        %li= link_to 'Login', new_user_session_url


