- tasks.each_with_index do |task, index|
  %li.task.clearfix{title: task.subject, "data-task-id" => task.id, :"data-position" => task.position, :"data-slug" => task.slug}
    %i.icon-reorder
    %i.icon-ok{ class: task.done? ? 'finished-check' : 'unfinished-check' }
    = link_to project_conversation_url(task.project, task) do
      %span>= task.subject
