%p.lead.task-title
  - if task.done?
    %i.icon-ok.finished-check
  - else
    %i.icon-ok.unfinished-check

  = task.subject

.task-controls
  .doers-and-muted
    %span.doers
      %i.icon-bolt
      doers:
      - task.doers.all.each do |doer|
        %span.avatar.has-tooltip{:"data-user" => doer.id, :"data-toggle" => "tooltip", title: doer.name}<>
          = image_tag(doer.avatar_url, :class => 'avatar-tiny', alt: doer.name)
          %span.name<>= doer.name

    %span.muted
      %a.control-link.muted.pull-right{href:""}
        muted count

  %a.control-link.text-info.remove-self-from-doers{href:""}
    %i.icon-remove
    remove me
  %a.control-link.text-info.add-self-as-doer{href:""}
    %i.icon-plus
    sign me up

  &#183;

  %a.control-link.text-info.add-remove-doers{href:""}
    -# {href:"", :"data-toggle-doers_popover" => '.add-remove-doers'}
    %i.icon-user
    add/remove others

  &#183;

  - url = task.done? ? organization_task_mark_as_undone_path(task.organization, task) : organization_task_mark_as_done_path(task.organization, task)
  = link_to url, method: 'post', class: 'control-link text-info toggle-done' do
    - if task.done?
      %i.icon-ok
      mark as not done
    - else
      %i.icon-ok
      mark as done

  %a.control-link.text-info.pull-right.mute-task{href:""}
    %i.icon-volume-off
    mute conversation

= render_widget(:doers_popover, class: 'add-remove-doers')
