%h2 Tasks

%form.input-append{action: project_tasks_path(project)}
  %input{type: "text", name: "subject"}
  %button.btn{disabled: true}
    %i.icon-plus

.btn-group{'data-toggle' => "buttons-radio"}
  %button.btn.btn-mini.all_tasks All Tasks
  %button.btn.btn-mini.my_tasks My Tasks

- tasks = project.tasks.includes(:doers).to_a

.all_tasks
  .not_done
    %h4 Not Done
    = render_widget :task_list, tasks.reject(&:done?), class: 'sortable'

  .done
    %h4 Done
    = render_widget :task_list, tasks.select(&:done?)

- my_tasks = tasks.select{|task| task.doers.include? current_user }

.my_tasks
  .not_done
    %h4 Not Done
    = render_widget :task_list, my_tasks.reject(&:done?), class: 'sortable'

  .done
    %h4 Done
    = render_widget :task_list, my_tasks.select(&:done?)
