// media sizes
$large-screen-min-width: 1152px
$medium-screen-max-width: $large-screen-min-width - 1
$medium-screen-min-width: 768px
$small-screen-max-width: $medium-screen-min-width - 1


// colors
$black-color: #232527
$white-color: #ffffff
$off-white-color: #F6F7FA
$teal-color: #35AFC6
$light-blue-color: #DDEFF4
$lighter-blue-color: #EBF5F8
$lightest-blue-color: #F8FAFB
$grey-color: #F5F5F5
$dark-red-color: #c0392b


// font families
$lato-font-family: 'Lato', sans-serif


// font styles
$default-font-family: $lato-font-family
$default-font-color: $black-color
$default-font-size: 16px
$default-line-height: 1.4
$default-font-weight: 300
$big-font-size: 20px
$large-font-size: 27px
$huge-font-size: 32px
$small-font-size: 14px

// sizes
$max-page-width: $large-screen-min-width
$nav-height: 70px
$footer-height: 90px
$stacked-footer-height: 260px
