html
  color: $default-font-color
  font-size: $default-font-size
  font-family: $default-font-family
  font-weight: $default-font-weight
  line-height: $default-line-height

body
  background-color: $grey-color

  // &:before
  //   position: fixed
  //   top: 0
  //   left: 0
  //   background: red
  //   color: black
  //   z-index: 99999

  //   +small-screens
  //     content: "small-screen"
  //   +medium-screens
  //     content: "medium-screen"
  //   +large-screens
  //     content: "large-screen"
