html, body
  height: 100%
  width: 100%

.main-region
  position: relative
  // overflow: hidden
  min-height: 600px
  min-width: 800px
  height: 100%
  width: 100%
  > div
    position: absolute
    top: $nav_height
    left: 0
    right: 0
    bottom: 0


.navbar .navbar-inner
  padding-left: 20px
  padding-right: 20px
