.dashboard
  .panels
    background-color: yellow
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100%
    > *
      position: relative
      // height: 100%


    > .left
      overflow: hidden
      width: 300px
      background-color: pink
      > .vertical-box
        > .projects

        > .feed
          +experimental(box-flex, 20)
          > ul
            height: 100%
            overflow: auto


    > .main
      +experimental(box-flex, 1)


    > .right
      width: 300px

@import "views/dashboard/project_panel"
