%ul.tabs.nav.nav-tabs
  %li.tasks
    <a href="/<%= slug %>/tasks" name='tasks'><i class="icon-check"></i> Tasks</a>

  %li.members
    <a href="/<%= slug %>/members" name='members'><i class="icon-user"></i> Members</a>

  %li.pull-right
    %h4 <%= name %>

.tabContent
