.panels.horizontal-box
  .left
    .vertical-box.fill-container
      .well
        %ul.nav.nav-list
          %li.nav-header Projects
          %li
            .projects
      .feed

  .main.well
    .dashboard-project-panel

  .extra.well
    right panel

