.header-huge
  color: inherit
  font-family: "gibsonbold"
  font-weight: 100
  letter-spacing: -2px
  +small-screens
    font-size: 80px
    line-height: 80px
  +medium-to-large-screens
    font-size: 90px
    line-height: 90px
