.held-messages
  section
    padding-left: 10px
    padding-right: 10px


  label.uk-form-label
    color: #35afc6
    font-weight: 400
    font-size: 19px
    margin-bottom: 0px

  .details
    font-size: 14px

  .uk-form-row, .uk-table, .services, .uk-panel
    margin-top: 10px

  .new-mail
    margin-bottom: 10px

  .nowrap
    white-space: nowrap

  .mail
    background-color: #35afc6
    padding: 5px
    color: white

    .title
      font-weight: 200
      font-size: 20px
      margin-left: 5px
      a
        color: white
    .add-button
      float: right
      margin-right: 2px
      margin-top: 1px
      .uk-button
        font-weight: 400
        font-size: 14px
        margin-left: 1px
    i
      width: 30px
  .from
    font-weight: 400
    color: $teal-color
    +small-screens
      display: block

  .email_address
    font-weight: 400
    +small-screens
      font-size: 13px
    a
      color: $black-color

  .subject
    font-weight: 400
    color: $teal-color
    +small-screens
      display: block

  .subject-text
    font-weight: 400
    +small-screens
      font-size: 13px
    a
      color: $black-color

  .service-description
    margin-top: 10px

  .collapse
    position: relative
    +small-screens
      margin-top: 30px
    button
      position: absolute
      right: 0
      bottom: 0

  .expand
    button
      background-color: white
