.nav
  z-index: 10
  position: fixed
  top: 0
  left: 0
  right: 0
  min-width: 100%
  white-space: nowrap

  &, > .content
    height: $nav-height
    background-color: $black-color

  > .content
    margin: 0 auto
    max-width: $max-page-width
    overflow: hidden

    > *
      margin-top: 15px

    > .left-nav
      float: left
      margin-left: 2em

    > .right-nav
      float: right
      margin-right: 2em

      .horizontal-nav
        +medium-to-large-screens
          display: inline
        +small-screens
          display: none

      .menu-nav
        +medium-to-large-screens
          display: none
        +small-screens
          display: inline-block

        font-size: 30px
        color: white
        position: absolute
        right: 130px
        top: 14px

        .menu
          background-color: $black-color
          color: white

  .threadable-logo
    font-size: 30px
    line-height: 40px
    height: 40px
    width: 140px
    svg *
      fill: white

  .button
    color: $white-color



  @media (max-width: 400px)
    > .content > .right-nav
      > *
        display: none
      > .sign-in-button
        display: inline-block

