.nav
  z-index: 10
  position: fixed
  top: 0
  left: 0
  right: 0
  min-width: 100%

  &, > .content
    height: $nav-height
    background-color: $black-color

  > .content
    margin: 0 auto
    max-width: $max-page-width
    overflow: hidden

    > *
      margin-top: 15px

    > .left-nav
      float: left
      margin-left: 2em
    > .right-nav
      float: right
      margin-right: 2em

  .threadable-logo
    font-size: 30px
    svg *
      fill: white

  .button
    color: $white-color
