.page-footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height

  +small-screens
    height: $stacked-footer-height


  > .content
    padding: 20px
    background-color: $grey-color
    +small-to-medium-screens

    +medium-to-large-screens
      height: 50px
      line-height: 50px

  +small-screens
    .inline-list
      float: none
      text-align: center
      > *
        margin-bottom: 1em
        float: none
        display: block

  .uk-icon-twitter, .uk-icon-facebook
    +border-radius(50%)
    display: inline-block
    height: 25px
    width:  25px
    text-align: center
    color: white
  .uk-icon-twitter
    background: #249adb
    border: 10px solid #249adb
  .uk-icon-facebook
    background: #2d4386
    border: 10px solid #2d4386
    margin-left: 14px

  .mixpanel-button
    img
      margin-bottom: 6px
