.pricing-page

  section
    padding: 10px

  .options
    text-align: center
    background-color: tint(#35afc6, 20%)
    color: white
    font-weight: 200
    font-size: 25px
    padding: 35px 0
    .sub
      font-size: 30px
      padding-bottom: 10px
    .hype
      font-weight: 600
  .call-to-action
    margin-top: 20px

  .feature
    +small-to-medium-screens
      margin-top: 10px
    .title
      color: #35afc6

  > .sign-up
    padding: 60px 20px
    background-color: $grey-color
    .threadable-logo
      font-size: 40px

  .features
    margin-top: 20px
    .feature-grid
      margin-top: 15px
  .description
    font-size: 14px

  .pricing-holder
    margin-top: 20px

  .pricing
    color: white
    background-color: #35afc6
    text-align: center
    padding: 15px
    border-radius: 4px
    .price
      margin-top: -30px
      .currency
        display: inline-block
        font-weight: 400
        font-size: 50px
        position: relative
        top: -24px
        left: 4px

      .amount
        font-weight: 600
        font-size: 110px

      .change
        display: inline-block
        position: relative
        top: -48px
        left: -22px
        font-weight: 600
        font-size: 40px
    .details

  .divider
    border-bottom: 1px solid #dddddd
    width: 100%
    position: relative
    top: 9px

  .section-title
    text-align: center
    font-size: 14px
    letter-spacing: 3px

  .sign-up
    text-align: center
