.homepage

  > .sign-up
    padding: 60px 20px
    background-color: $grey-color
    text-align: center
    .threadable-logo
      font-size: 40px

  .free
    width: 100px

  .pro
    width: 100px

  .description
    font-size: 12px

