.pricing-page

  section
    padding: 10px

  .options
    font-family: $header-font-family
    text-align: center
    background-color: tint(#35afc6, 20%)
    color: white
    font-weight: 200
    font-size: 25px
    padding: 35px 0
    .sub
      font-size: 30px
      padding-bottom: 10px
    .hype
      font-weight: 600
  .call-to-action
    margin-top: 20px

  .feature
    +small-to-medium-screens
      margin-top: 10px
    .title
      font-family: $header-font-family
      color: #35afc6
      font-weight: 400
      padding-bottom: 2px

  > .sign-up
    padding: 60px 20px
    background-color: $grey-color
    .threadable-logo
      font-size: 40px

  .features
    margin-top: 20px
    .feature-grid
      margin-top: 15px
  .description
    font-size: 14px

  .pricing-holder
    margin-top: 20px

    .pricing
      width: 200px
      margin: 0 auto
      font-family: $header-font-family
      color: white
      background-color: #35afc6
      text-align: center
      padding: 15px
      border-radius: 4px
      .beta
        font-size: 13px
        font-weight: 400
        color: black
      .price
        font-family: $header-font-family
        margin-top: -30px
        .currency
          display: inline-block
          font-weight: 400
          font-size: 50px
          position: relative
          top: -24px
          left: 4px

        .amount
          font-weight: 600
          font-size: 110px

        .change
          display: inline-block
          position: relative
          top: -46px
          left: -26px
          font-weight: 600
          font-size: 40px
          letter-spacing: -2px
      .smaller
        font-family: $default-font-family
        margin-top: -20px
        font-size: 15px
    .details
      font-size: 14px
      .hype
        font-weight: 400

      +small-screens
        padding-left: 10%
        padding-right: 10%

  .divider
    border-bottom: 1px solid #dddddd
    width: 100%
    position: relative
    top: 9px

  .section-title
    font-family: $header-font-family
    text-align: center
    font-weight: 600
    font-size: 14px
    letter-spacing: 3px

  .sign-up
    text-align: center

  .get-in-touch
    color: #35afc6
