.profile-edit
  section
    padding-left: 10px
    padding-right: 10px


  label.uk-form-label
    color: #35afc6
    font-weight: 400
    font-size: 19px
    margin-bottom: 0px

  .details
    font-size: 14px

  .uk-form-row, .uk-table, .services, .uk-panel
    margin-top: 10px

  .new-mail
    margin-bottom: 10px

  .nowrap
    white-space: nowrap

  .service
    background-color: #35afc6
    padding: 20px
    color: white

    .title
      font-weight: 200
      font-size: 20px
    .add-button
      float: right

    i
      width: 30px

  .linked-account
    font-weight: 400
    color: $teal-color

  .service-description
    margin-top: 10px

  .collapse
    position: relative
    +small-screens
      margin-top: 30px
    button
      position: absolute
      right: 0
      bottom: 0

  .expand
    button
      background-color: white
