%h1 Whooops we failed to take that action :(


%p
  If you're a developer try
  - o = covered.organizations.all.first; c = o.conversations.latest; u = o.members.all.last
  = link_to 'this link', email_action_url(token: EmailActionToken.encrypt(c.id, u.id, 'mute'))
