.uk-container-center.uk-width-large-1-2.uk-width-medium-1-2.authentication-form
  .uk-text-center
    %h1 Oh no!
    %h2 Something went wrong
    %h3 Like this:

    %img.fail{src: asset_path('forklift.gif')}

    %h3 Please try again later.
