-# FYI this page is a duplicate of app/assets/javascripts/templates/not_found.hbs.erb
.uk-container-center.uk-width-large-1-2.uk-width-medium-1-2.authentication-form
  .uk-text-center
    %h1 Darn!
    %h2 We couldn't find the page you were looking for.

    %img.sad-kitten{src: image_path('kitten.jpg')}

    %p
      = link_to 'Try going to our homepage' root_url
