.span6
  %iframe{:src=>"http://player.vimeo.com/video/14930254", :width=>"500", :height=>"281", :frameborder=>"0"}
  %h4
    SYZYGRYD is a 2.5 ton musical instrument that breathes fire. And you already know how to play it.
.span6
  .row-fluid
    .span4.fundbox
      Backers
    .span4.fundbox
      Moneys
    .span4.fundbox
      Hours
  .div.btn.btn-large.btn-success.fundbutton
    .lead
      Contribute
    .small
      we need your love to keep us warm



  / .container-fluid.move-side
  /   .row-fluid
  /     %div= haml :taskdetail

  /   .row-fluid
  /     %hr.narrow
  /     %div.message-controls
  /       %a.control-link.text-info
  /         %i.icon-edit
  /         add message

  /       &#183;

  /       %a.control-link.text-info
  /         %i.icon-camera
  /         add photos/videos/docs


/ %hr.narrow

/ .container-fluid.messages
/   .row-fluid
/     .conversation-event
/       %span.conversation-event-person
/         Ed Hunsinger
/       created this task from
/       %a
/         %i.icon-comments-alt
/         Introducing the Charcade
/       %span.pull-right
/         12/14/12

/   .row-fluid
/     .span12.quotation
/       %img.face-image{ :src => "/img/edface.jpeg", :alt => "edrabbit@edrabbit.com" }
/       %strong
/         Ed Hunsinger
/       described this task...
/       %span.pull-right
/         12/14/12
/       .message-text
/         %p
/           Sounds like we are either going to repair DDI and run it at BM one more time, or we're going to continue with our previously stated decision to destroy it. Either way this means pulling it out of storage.
/         %p
/           Let's go to Alameda with a truck (who can bring theirs? or should I rent one?), pull DDI out of storage and take it over to American Steel where we can take stock of what we have, what condition it's in, and a quick guess at what needs to be done to put it back in a working state. We may find that it's all fucked and there's no way we could do "one last run", or we could find that there's very little to do, or it may be that it's a decent amount of work but doable. My money's on the latter but I'd rather know earlier than later. Plus I haven't inhaled playa dust since July.
/         .message-controls.pull-left
/           %a.control-link.text-info
/             %i.icon-bullhorn
/             shareworthy
/           &#183;
/           %a.control-link.text-info
/             %i.icon-book
/             knowledge
/         .message-controls.pull-right
/           %a.control-link.text-info.pull-right
/             %i.icon-reply
/             reply
/   .row-fluid
/     .conversation-event
/       %span.conversation-event-person
/         Ed Hunsinger
/       Scheduled an event for this task
/       %a
/         %i.icon-calendar
/         January 5, 2013
/       %span.pull-right
/         12/14/12
/   .row-fluid
/     .span12.quotation
/       %img.face-image{ :src => "/img/reedface.jpeg", :alt => "reed@iarson.com" }
/       %strong
/         Reed Kennedy
/       replied...
/       %span.pull-right
/         12/14/12
/       .message-text
/         %p
/           Excellent. I'm there.
/         %p
/           Might be worth poking the main list too.
/         .message-controls.pull-left
/           %a.control-link.text-info
/             %i.icon-bullhorn
/             shareworthy
/           &#183;
/           %a.control-link.text-info
/             %i.icon-book
/             knowledge
/         .message-controls.pull-right
/           %a.control-link.text-info.pull-right
/             %i.icon-reply
/             reply
/   .row-fluid
/     .conversation-event
/       %i.icon-bolt
/       %span.conversation-event-person
/         Reed Kennedy
/       added himself as a doer
/       %span.pull-right
/         12/14/12
/   .row-fluid
/     .conversation-event
/       %i.icon-bolt
/       %span.conversation-event-person
/         Ian Baker
/       added himself as a doer
/       %span.pull-right
/         12/14/12


