%blockquote.top-header
  %p
    Tasks
    %i.icon-ok-sign
%p.muted.task-heading
  Unfinished
%table.table.table-condensed.table-hover
  %tbody
    %tr.read-message
      %td.unfinished-check
        %i.icon-ok
      %td.span10
        Pull DDI out of storage
      %td.span2
        %span.label.label-info
          2 new
    %tr
      %td.unfinished-check
        %i.icon-ok
      %td
        Test Pads
      %td
    %tr
      %td.unfinished-check
        %i.icon-ok
      %td
        Inventory Proxsuits
      %td
        %span.label.label-info
          1 new
%p.muted.task-heading
  Finished
%table.table.table-condensed.table-hover
  %tbody
    %tr.done
      %td.finished-check
        %i.icon-ok
      %td.span10
        Send Charcade form to Toronto people
      %td.span2
