%blockquote
  %p.lead
    Pull DDI out of storage
%div
  %table.table.table-condensed.table-hover.message-table
    %tr.read-message
      %td.face-image
        %div
          %img{ :src => "/img/edface.jpeg", :alt => "edrabbit@edrabbit.com" }

      %td.name-cell.message-nowrap
        %strong
          Ed Hunsinger


      %td.message-nowrap
        tl;dr Saturday Jan 5th, noon-?, American Steel, Ardent shop cleanup and DDI p...


      %td.date-cell.message-nowrap
        %div.pull-right
          %span{:title=>"Fri, Jan 4, 2013 at 1:38 PM", :alt=>"Fri, Jan 4, 2013 at 1:38 PM"}
          Jan 4 (4 days ago)
    %tr.read-message
      %td.face-image
        %div
          %img{ :src => "/img/richface.jpeg", :alt => "syzygryd@richard.fromm.name" }

      %td.name-cell.message-nowrap
        %strong
          Rich Fromm


      %td.message-nowrap
        Alas, my ass is currently in a hospital bed in Oakland (2nd time in 3 weeks -- I'm not happy about that), so heavy shit lifting is not likely on my near term horizon.

      %td.date-cell.message-nowrap
        %div.pull-right
          %span{:title=>"Fri, Jan 4, 2013 at 1:38 PM", :alt=>"Fri, Jan 4, 2013 at 1:38 PM"}
          Jan 4 (4 days ago)
    %tr.read-message
      %td.face-image
        %div
          %img{ :src => "/img/moface.jpeg", :alt => "m.khodadoust@gmail.com" }

      %td.name-cell.message-nowrap
        %strong
          Mojgan


      %td.message-nowrap
        tl;dr Saturday Jan 5th, noon-?, American Steel, Ardent shop cleanup and DDI p...


      %td.date-cell.message-nowrap
        %div.pull-right
          %span{:title=>"Fri, Jan 4, 2013 at 1:38 PM", :alt=>"Fri, Jan 4, 2013 at 1:38 PM"}
          Jan 4 (4 days ago)
    %tr
      %td
      %td
      %td
      %td



