%blockquote
  %p.lead.task-title
    %i.icon-ok.unfinished-check
    Pull DDI out of storage

  .container-fluid.move-side
    .row-fluid
      %div= haml :taskdetail

    .row-fluid
      %hr.narrow
      %div.message-controls
        %a.control-link.text-info
          %i.icon-edit
          add message

        &#183;

        %a.control-link.text-info
          %i.icon-camera
          add photos/videos/docs

      %div
        .pokey-top
          %p
        %input.has-pokey.span12

%div
  %table.table.table-condensed.table-hover.message-table
    %tr.read-message
      %td.face-image
        %div
          %img.face-image{ :src => "/img/edface.jpeg", :alt => "edrabbit@edrabbit.com" }

      %td.name-cell.message-nowrap
        %strong
          Ed Hunsinger


      %td.message-nowrap
        tl;dr Saturday Jan 5th, noon-?, American Steel, Ardent shop cleanup and DDI p...


      %td.date-cell.message-nowrap
        %div.pull-right
          %span{:title=>"Fri, Jan 4, 2013 at 1:38 PM", :alt=>"Fri, Jan 4, 2013 at 1:38 PM"}
          Jan 4 (4 days ago)
    %tr.read-message
      %td.face-image
        %div
          %img.face-image{ :src => "/img/richface.jpeg", :alt => "syzygryd@richard.fromm.name" }

      %td.name-cell.message-nowrap
        %strong
          Rich Fromm


      %td.message-nowrap
        Alas, my ass is currently in a hospital bed in Oakland (2nd time in 3 weeks -- I'm not happy about that), so heavy shit lifting is not likely on my near term horizon.

      %td.date-cell.message-nowrap
        %div.pull-right
          %span{:title=>"Fri, Jan 4, 2013 at 1:38 PM", :alt=>"Fri, Jan 4, 2013 at 1:38 PM"}
          Jan 4 (4 days ago)
    %tr.read-message
      %td.face-image
        %div
          %img.face-image{ :src => "/img/moface.jpeg", :alt => "m.khodadoust@gmail.com" }

      %td.name-cell.message-nowrap
        %strong
          Mojgan


      %td.message-nowrap
        Hey guys --- if there can be some division ahead of time as to folks designated in place "A" (shop) versus place "B" (storage) that may be useful.

      %td.date-cell.message-nowrap
        %div.pull-right
          %span{:title=>"Fri, Jan 4, 2013 at 1:38 PM", :alt=>"Fri, Jan 4, 2013 at 1:38 PM"}
          Jan 4 (4 days ago)
    %tr
      %td
      %td
      %td
      %td



