%p.lead
  Pull DDI out of storage
  %hr

  %div.adf.ads
    %div.aju
      %img{ :src => "/img/edface.jpeg", :alt => "edrabbit@edrabbit.com" }
    %div.gs.gt
      %div.gE.hI
        %table{ :cellpadding => "0", :class=>"cf gJ"}
          %tbody
            %tr
              %td{:class=>"gF gK", :style=>"width:auto"}
                %span
                Ed Hunsinger

              %td.gF.gK
                %table{:cellpadding=>"0", :class=>"cf iB"}
                  %tbody
                    %tr
                      %td
                        %div.iA.g6
                        /tl;dr Saturday Jan 5th, noon-?, American Steel, Ardent shop cleanup and DDI p...


              %td.gH
                %span

                %span{:id=>":1bs", :class=>"g3", :title=>"Fri, Jan 4, 2013 at 1:38 PM", :alt=>"Fri, Jan 4, 2013 at 1:38 PM"}
                /Jan 4 (3 days ago)


            %tr
              %td.gF.gK{:colspan=>"3"}
                %table{ :cellpadding=>"0", :class=>"cf iB za "}
                  %tbody
                    %tr
                      %td
                        %div.iA.g6
                        /tl;dr Saturday Jan 5th, noon-?, American Steel, Ardent shop cleanup and DDI p...

%table.table.table-condensed.table-hover
  %tbody
    %tr
      %td.b.span4
        Ed, Ian ..
        %strong
          Reed
        (6)
      %td.span7
        %strong
          Pull DDI out of storage
      %td.span1
        %strong.pull-right
          1/5/13
    %tr
      %td.span4
        %strong
          Ian
      %td.span7
        %strong
          Test Pads
      %td.span1
        %strong.pull-right
          1/2/13
    %tr
      %td.span4
        Ian, Reed
      %td.span7
        Send Charcade form to Toronto people
      %td.span1
        %div.pull-right
          12/27/12
    %tr
      %td.span4
        %strong
          Morley, Reed
      %td.span7
        %strong
          Inventory Prox Suits
      %td.span1
        %strong.pull-right
          12/26/12
    %tr
      %td.span4
        Info .. Morley, Ed (40)
      %td.span7
        Introducing The Charcade!
      %td.span1
        %div.pull-right
          12/24/12
