.container-fluid
  .row-fluid
    .left.span5.vertical-line
      %div= haml :tasks
      %br
      %br
      %br
      %br

    .right.span7.vertical-line
      %div= haml :conversations
      %br
      %br
      %br
      %br

