!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title multify-mock
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %link{href: '/bootstrap.css', media: "all", rel: "stylesheet", type: "text/css"}
    %link{href: '/bootstrap-select.css', media: "all", rel: "stylesheet", type: "text/css"}
    %link{href: '/font-awesome.min.css', media: "all", rel: "stylesheet", type: "text/css"}
    %link{href: '/stylesheet.css', media: "all", rel: "stylesheet", type: "text/css"}
    %script{ :type => "text/javascript", :src =>"/js/jquery.js"}
    %script{ :type => "text/javascript", :src =>"/js/bootstrap.min.js"}
    %script{ :type => "text/javascript", :src =>"/js/bootstrap-select.js"}
    %script{ :type => "text/javascript", :src =>"/js/jquery.freetile.js"}
    %script{ :type => "text/javascript", :src =>"/js/jquery-ui-1.9.2.custom.js"}


  %body
    #page
      %div= yield
      = haml :footer


    :javascript
      $(function(){
        $('.selectpicker').selectpicker();
        $('.bootstrap-select').find('button').addClass('btn-mini btn-muted story-type')
      });
