.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    %a.brand{:href => '/'} Multify
    %ul.nav.pull-right
      %li.dropdown
        %a.dropdown-toggle#account-menu{"data-toggle" => "dropdown", :href => ""}
          Login
          %i.icon-cogs
        %ul.dropdown-menu
          %li.nav-header Account
          %li
            %a{:href => "/"} Profile
          %li.divider
          %li
            %a.logout{:href => "/" } Sign out
