.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .navbar-content
      %a.brand{:href => '/'} UCSD Electric Solar Racing
      %ul.nav
        %li
          %a{:href => '/'}Work
        %li
          %a{:href => '/'}Members
        %li
          %a{:href => '/'}Calendar
      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle#account-menu{"data-toggle" => "dropdown", :href => ""}
            Projects
          %ul.dropdown-menu
            %li
              %a{:href => "/"} UCSD Electric Solar Racing
            %li
              %a{:href => "/" } Occupy the fridge
        %li.dropdown
          %a.dropdown-toggle#account-menu{"data-toggle" => "dropdown", :href => ""}
            Alice Nielson
            %i.icon-cogs
          %ul.dropdown-menu
            %li.nav-header Account
            %li
              %a{:href => "/"} Profile
            %li.divider
            %li
              %a.logout{:href => "/" } Sign out

  / .project-selector
  /   Projects
