%div= haml :loggedoutnavbar
.ddihero
  %h1.herotop
    SYZYGRYD
  %h2.herotop.pull-right
    About • Stories • Needs • Get Involved
.container-fluid
  .row-fluid
    %div= haml :campaign
  %hr
  .row-fluid
    %div= haml :stories
