body
  padding-top: 40px
  padding-bottom: 40px

.sidebar-nav
  padding: 9px 0

.form-input
  height: 28px

.done
  color: gainsboro

.unfinished-check
  color: gainsboro

.finished-check
  color: gold

.task-heading
  -webkit-margin-after: 0px
  -webkit-margin-before: 0px

.vertical-line
  border-left: 1px solid #E5E5E5

.top-header
  margin: 0 0 10px

.face-image
  width: 24px
  height: 24px
  border-radius: 2px

.name-cell
  width: 90px

.date-cell
  width: 120px

.read-message
  background-color: #f8f8f8


.message-table
  width: 100%
  table-layout: fixed

.message-nowrap
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  table-layout: fixed
