body
  padding-top: 40px
  padding-bottom: 40px

.sidebar-nav
  padding: 9px 0


.form-input
  height: 28px

.done
  color: gainsboro

.unfinished-check
  color: gainsboro

.finished-check
  color: gold

.task-heading
  -webkit-margin-after: 0px
  -webkit-margin-before: 0px

.vertical-line
  border-left: 1px solid #E5E5E5

