@import "compass"

$default-margin: 20px

body

.page
  margin: 40px 0

.column
  margin: 40px auto 0
  width: 1024px


// The Media Box base style
.media-box
  +pie-clearfix
  zoom: 1

  > *:first-child
    float: left
    display: block
    margin-right: $default-margin / 2
    &.right
      float: right
      margin-right: 0
      margin-left: $default-margin / 2
  > .content
    display: table-cell
    vertical-align: top
    width: 9999em
    zoom: 1

.navbar-content
  margin: 0 auto
  width: 1024px


.sidebar-nav
  padding: 9px 0

.form-input
  height: 28px

.done
  color: gainsboro

.unfinished-check
  color: gainsboro

.finished-check
  color: gold

.task-heading
  -webkit-margin-after: 0px
  -webkit-margin-before: 0px

.vertical-line
  border-left: 1px solid #E5E5E5
  height: 100%

.top-header
  margin: 0 0 10px

.face-image
  width: 24px
  height: 24px
  border-radius: 2px

.face-image-message
  min-width: 49px
  width: 49px
  height: 49px
  border-radius: 2px

.face-image-small
  width: 18px
  height: 18px
  border-radius: 2px

.name-cell
  width: 90px

.date-cell
  width: 120px

.read-message
  background-color: #ececec

.messages
  > .message
    > *
      border-top: 1px
      border-bottom: 1px
      border-left: 0
      border-right: 0
      border-color: gainsboro
      border-style: solid
      min-height: 4em
      padding: 5px
      margin-left: 10px
      margin-bottom: 2px
    + .message > *
      border-top: none

.taskitem
  background: white

.message-table
  width: 100%
  table-layout: fixed

.message-text
  margin-left: 28px

.message-nowrap
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  table-layout: fixed

.project-selector
  font-size: 1.15em
  position: fixed
  left: -30px
  top: 180px
  -webkit-transform: rotate(-90deg)
  -moz-transform: rotate(-90deg)
  background-color: rgb(200,255,150)
  border-radius: 0px 0px 7px 7px
  padding: 5px 10px 5px 10px
  border: 2px
  border-top: 0
  border-style: solid
  border-color: white
  color: black

.control-link
  font-size: 0.85em
  // #color: #bebebe

.message-controls
  // width: 400px
//  margin-left: 7px

.message-photo
  max-width: 300px
  max-height: 300px

.block
  display: block

p.lead.task-title
  margin-bottom: 0

.move-side
  margin-left: 7px

.pokey-top
  margin-left: 15px
  width: 0
  height: 0
  border-left: 8px solid transparent
  border-right: 8px solid transparent

  border-bottom: 8px solid gainsboro

.pokey-top p
  position: relative
  left: -8px
  top: 2px

  z-index: 2000
  width: 0
  height: 0
  border-left: 8px solid transparent
  border-right: 8px solid transparent

  border-bottom: 9px solid white

.has-pokey, .has-pokey:focus
  border-color: gainsboro
  border-style: solid

.narrow
  margin-top: 5px
  margin-bottom: 5px

.conversation-event
  color: #999
  font-size: 0.85em
  margin-left: 10px
  margin-bottom: 0px
  margin-top: 0px

.conversation-event-person
  font-weight: bold



// .quotation:hover
//   background-color: #f5f5f5

.new-message
  // also, fuck you
  margin-top: 10px

.ddihero
  -webkit-border-radius: 0px
  -moz-border-radius: 0px
  border-radius: 0px
  overflow: hidden
  background-image: url(/img/ddihero.jpeg)
  height: 120px
  -moz-box-shadow: inset 0 -4px 8px -6px #000000
  -webkit-box-shadow: inset 0 -4px 8px -6px black
  box-shadow: inset 0 -4px 8px -6px black
  background-repeat: no-repeat

.herotop
  color: whitesmoke
  text-shadow: black 0px 1px 2px
  font-weight: 300

h1.herotop
  margin: 15px 20px 5px 20px
  letter-spacing: -1px
  line-height: 48px
  font-size: 48px

h2.herotop
  margin: 0
  margin-right: 20px
  line-height: 36px
  font-size: 24px
  font-weight: 200
  top: 18px
  position: relative
  background-color: rgba(0,0,0,0.4)
  padding-right: 5px
  padding-left: 5px

.fundbutton
  align-content: center

.fundbox
  background-color: green

.btn, .lead
  small
    font-size: 65%

.public-project
  > .navbar
    margin-bottom: 0
  > .header
    padding: 20px
    background-image: url(/img/ddihero.jpeg)
    border-bottom: 1px solid black
    &, a
      color: whitesmoke
      text-shadow: black 0 0 2px

  > .campaign
    position: relative
    padding: 20px
    > .background
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 100%
      height: 100%
      overflow: hidden
      z-index: -1
      background-color: black
      img
        width: 100%
    > .content
      background: rgba(255,255,255,0.85)
      padding: 20px
      +clearfix
      > .video
        float: left
        width: 50%
        iframe
          width: 472
          height: 265
          background-color: black
      > .ask
        float: left
        width: 50%
        > .content
          padding-left: 20px
          > .stats
            +clearfix
            > *
              float: left
              width: 33.33%
              text-align: left
              > *
                padding-left: 20px
          > .actions
            text-align: center
            margin: 60px 0
            > *:first-child
              margin-right: 20px
  > .story
    position: relative
    padding: 20px
    color: whitesmoke
    text-shadow: rgba(0, 0, 0, 0.88) 0px 0px 13px
    &:hover
      cursor: pointer
      .body
        text-decoration: underline
    > .background
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 100%
      height: 100%
      overflow: hidden
      z-index: -1
      background-color: black
      img
        width: 100%
        +opacity(0.75)

    > .content
      .date,
        margin: 0
      h1
        margin-top: 0


.campaign


.stories-new
  background-image: url(/img/cream_dust.png)

  .main-left, .main-right
    // padding: 10px 0
  .main-left
  .main-right
    .right-title
      padding-left: 4px
    .filters
      padding-left: 4px

  .bigbox-editcontrols
    padding: 2px 2px 0 2px
    margin: 0 4px -1px 4px
    border: 1px solid lightgrey
    background: white

    > *
      margin-bottom: 2px
      margin-left: 2px

  .bigbox-editable
    background: white
    padding: 5px
    margin: 0 4px 8px 4px
    border: 1px solid lightgrey

  .unedited-content
    padding: 5px
    margin: 0 4px 8px 4px
    border: 1px solid rgb(236, 236, 236)
    cursor: text

  .story-type
    margin-top: 5px

  .sharable-media
    position: relative
    margin-top: 20px
    margin: 0
    //overflow-y: scroll
    height: 400px
    +pie-clearfix
    > *
      padding: 0
      margin: 0 4px 8px 4px
      border: 1px solid darkgrey
      cursor: move
      box-shadow: 1px 1px 3px 0px #cccccc
      .media-box
        padding: 2px
        line-height: 14px
        background-color: rgb(243, 243, 243)

      &.text
        .snippet
          background-color: white
          padding: 5px
          display: inline-block
        width: 300px // 310
        blockquote
          margin: 0
      &.image
        width: 300px // 155
        > img
          width: 100%
      &.video
        width: 300px
        > img
          width: 100%


