.doers.span12
  %div
    %i.icon-bolt
    doers:
    %img.face-image-small{ :src => "/img/richface.jpeg", :alt => "syzygryd@richard.fromm.name" }
    %img.face-image-small{ :src => "/img/edface.jpeg", :alt => "edrabbit@edrabbit.com" }

    %a.control-link.muted.pull-right
      4 muted

  %a.control-link.text-info
    %i.icon-plus
    sign me up
  &#183;
  %a.control-link.text-info
    %i.icon-user
    add others
  &#183;
  %a.control-link.text-info
    %i.icon-ok
    this is done

  %a.control-link.text-info.pull-right
    %i.icon-remove
    mute conversation


