<div class="conversations-list">
  <ol class="uk-list scrollable">
    {{#each conversation in controller}}
      {{partial 'conversations/list/member'}}
    {{/each}}
  </ol>
  {{partial 'conversations/list/controls'}}
</div>
