!!!
%html
  %head
    %link{:media => "screen", :rel => "stylesheet", :type => "text/css", href:'/application.css'}
    %script{type:"text/javascript", src:"/application.js"}
  %body
    %span
      hello therez
