#page
  .navbar.navbar-fixed-top
    .navbar-inner

      %a.brand{href:""} Multify

      .pull-right
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Dropdown
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li.nav-header Nav header
              %li
                %a{:href => "#"} Separated link
              %li
                %a{:href => "#"} One more separated link

          %li
            %a.login{href:""} Login

  .panels.horizontal-box
    .left
      .vertical-box.fill-container

        .projects.well

          %ul.nav.nav-list
            %li.nav-header Projects

        .feed.well
          .vertical-scroll-box
            %ul.nav.nav-list
              %li.nav-header Feed

    .main.well
      main panel

    .right.well
      right panel
