.panels.horizontal-box
  .left
    .vertical-box.fill-container

      .projects.well

        %ul.nav.nav-list
          %li.nav-header Projects
          %li
            .main-project-list

      .feed.well
        .vertical-scroll-box
          %ul.nav.nav-list
            %li.nav-header Feed

  .main.well
    main panel

  .right.well
    right panel

