!!!
%html
  %head
    %link{:media => "screen", :rel => "stylesheet", :type => "text/css", href:'/application.css'}
  %body

    - ::Compiler::VIEWS.find do |path|
      - next unless path.file? && path.to_s =~ /\.haml$/
      - next if path == ::Compiler::INDEX_HTML
      - name = path.relative_path_from(::Compiler::VIEWS).to_s[/(.+)\..+$/,1]
      - html = Haml::Engine.new(path.read).to_html
      %script{type:"text/x-handlebars", data: {'template-name' => name}}= html


    %script{type:"text/javascript", src:"/application.js"}
