!!!
%html
  %head
    %link{:media => "screen", :rel => "stylesheet", :type => "text/css", href:'/application.css'}
    %script{src:"vendor/require.js", type:"text/javascript", data:{ main: 'App' } }
    %script{src:"config.js", type:"text/javascript"}

  %body#body
    .nav-region
    .main-region

