#page
  .navbar.navbar-fixed-top
    .navbar-inner

      %a.brand{href:""} Multify

      .pull-right
        %ul.nav

          <% if (Multify.logged_in) { %>
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
              <%= Multify.current_user.get('name') %>
              %b.caret
            %ul.dropdown-menu
              %li.nav-header Account
              %li
                %a{:href => ""} Profile
              %li.divider
              %li
                %a.logout{:href => ""} Logout
          <% } else { %>
          %li
            %a.login{href:""} Login
          <% } %>

  .panels.horizontal-box
    .left
      .vertical-box.fill-container

        .projects.well

          %ul.nav.nav-list
            %li.nav-header Projects
            %li
              .main-project-list

        .feed.well
          .vertical-scroll-box
            %ul.nav.nav-list
              %li.nav-header Feed

    .main.well
      main panel

    .right.well
      right panel

