- 5.times do |n|
  .component{data:{name:'page_header', email:"#{n}@example.com"}}



{{^logged_in}}
{{#render_template}}login_form{{/render_template}}
{{/logged_in}}

{{#logged_in}}


{{/logged_in}}
