.navbar.navbar-fixed-top
  .navbar-inner
    %ul.nav
      %li
        %a.tasks{href:""} Tasks
      %li
        %a.calendar{href:""} Calendar
      %li
        %a.people{href:""} People
      %li
        %a.threads{href:""} Threads
      %li
        %a.settings{href:""}
          .icon-wrench

%h2
  <%= project.get('name') %>
