= haml :loggedinnavbar

.stories-new
  .container-fluid
    .row-fluid
      .span6.main-left
        .row-fluid
          .span6
            .lead Write A Story
          .span6
            .pull-right
              %select.selectpicker
                %option Project Update
                %option Profile a Friend
                %option My Experience Today
                %option Fun
                %option Other
        .row-fluid
          .span12.bigbox-editcontrols
            %button.btn.btn-mini.pull-right{"rel"=>"tooltip", "title"=>"upload an image", :href => ""}
              %i.icon-camera
            %button.btn.btn-mini.pull-right{"rel"=>"tooltip", "title"=>"link", :href => ""}
              %i.icon-link
            %button.btn.btn-mini.pull-right{"rel"=>"tooltip", "title"=>"italic", :href => ""}
              %i.icon-italic
            %button.btn.btn-mini.pull-right{"rel"=>"tooltip", "title"=>"bold", :href => ""}
              %i.icon-bold
        .row-fluid
          .span12.bigbox-editable

            .row-fluid
              .span12.unedited-content.selected-box
                %small
                  .alert.alert-info
                    %i.icon-info-sign.text-info
                    Start your update strong! Be excited, and pull people in.
                    %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"alert"}
                      %i.icon-remove
                %br
                %br
                %br
                %br
                %br
                %br
                %br
                %br

                %small
                  .alert.alert-info
                    %i.icon-info-sign.text-info
                    This is another tip about how to write your story.
                    %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"alert"}
                      %i.icon-remove

                %br
                %br
                %br
                %br
                %br
                %br

                %small
                  .alert.alert-info
                    %i.icon-info-sign.text-info
                    Now's a great time to drop in an image
                    %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"alert"}
                      %i.icon-remove

                %br
                %br
                %br
                %br
                %br
                %br
                %br
                %br

                %small
                  .alert.alert-info
                    %i.icon-info-sign.text-info
                    Be sure to state a call to action, if you've got one.
                    %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"alert"}
                      %i.icon-remove

                %br
                %br
                %br
                %br


      .span6.main-right.vertical-line
        %p.lead Project Content

        .filters
          .row-fluid
            .span6
              .input-prepend
                %span.add-on
                  %i.icon-search
                %input{type:"text"}
            .span6
              %label
                .pull-right
                  %strong Sort:
                  .btn-group{'data-toggle' => "buttons-radio"}
                    %button.btn.btn-info.btn-mini Magic!
                    %button.btn.btn-info.btn-mini Date

        %hr.narrow

        .sharable-media
          - 20.times do
            - type = %w{text image video}.sample.to_sym
            .grid-element.draggable{class: type}
              - case type
              - when :text
                %span.snippet
                  %i.icon-quote-left.pull-left.icon-2x.icon-muted
                  Sounds like we are either going to repair DDI and run it at BM one more time, or we're going to continue with our previously stated decision to…
              - when :image
                %img{src: "http://www.dolandirectional.com/images/sce/dirty_pipe_welding_w.jpg"}
              - when :video
                %img{src: "http://photos.appleinsider.com/12.09.11-YouTube-2.png"}
              .media-box
                %a{href:""}
                  %img{alt: "edrabbit@edrabbit.com", class: "face-image", src: "/img/edface.jpeg"}
                %small.content
                  %div
                    %a{href:""}
                      %i.icon-comments-alt
                      Introducing the Charcade
                  %div
                    %i.icon-bullhorn
                    %span 45
                    \|
                    4 days ago

        :javascript
          !function(){
            var sharable_media;
            function resizeSharableMedia(){
              sharable_media = sharable_media || $('.sharable-media');
              console.log(sharable_media.width() / 200);
              // sharable_media.BlocksIt({
              //   numOfCol: Math.floor(sharable_media.width() / 200),
              //   offsetX: 8,
              //   offsetY: 8,
              //   blockElement: '.grid-element'
              // });
              $('.sharable-media').freetile({
                animate: true,
                elementDelay: 0.5
              });
            }


            $(document).ready(resizeSharableMedia);
            $(window).load(resizeSharableMedia);
            //.resize(resizeSharableMedia);
            $("[rel='tooltip']").tooltip();
            $( ".draggable" ).draggable({ opacity: 0.8, helper: "clone" });
          }();
