.row-fluid
  .span8.offset2.well.text-center

    %h1 Awww!

    %p.lead We just unsubscribed #{@member.name} from #{@organization.name}

    %p
      They'll miss you! If you hit this by mistake,
      = link_to 'click here to resubscribe!', organization_resubscribe_path(@organization, @resubscribe_token)
