<div class="compose">
  <form class="uk-form-horizontal">
    <fieldset>
      <div class="form-row">
        <label>Groups:</label> General
      </div>
      <div class="form-row">
        <label>Subject:</label> {{input value=subject classNameBindings=":uk-form-blank"}}
      </div>
      {{view Covered.ResizeableTextArea value=body classNameBindings=":uk-form-blank"}}
    </fieldset>
  </form>

</div>
