<form class="uk-form" {{action requestPasswordReset on='submit'}}>
  {{#if error}}
    {{error}}
  {{/if}}
  <fieldset>
    {{input type="email" placeholder="Email" value=emailAddress autofocus=true}}
    {{input class='uk-btn' type='submit' value='Reset Password'}}
  </fieldset>
</form>

