<div class="uk-container-center uk-width-large-1-3 uk-width-medium-1-2 sign-in-form">
  <h2>Recover Password</h2>
  <form class="uk-form uk-form-stacked well-when-not-small" action="/reset_password" method="post">
    <fieldset>
      <div class="uk-form-row">
        <input name="password_recovery[email]" class="uk-width-1-1 uk-form-large" placeholder="Email" size="50" type="email">
      </div>

      <div class="uk-form-row">
        {{#link-to 'sign_in' class="uk-float-right"}}
          Sign in
        {{/link-to}}

        <input class='uk-button uk-button-primary uk-button-large sign-in-button' type='submit' value='Recover password'>
      </div>
    </fieldset>
  </form>
</div>
