{{#if isSignedIn}}
  <h1>Welcome back {{currentUser.name}}</h1>
{{else}}
  <h1>Welcome to Covered</h1>
  <p>Covered is a magical mailing list! :D</p>
  <p>{{#link-to 'sign_in'}}Click here to sign in{{/link-to}}</p>
{{/if}}
