<ul class="uk-list conversations-list">
  {{#each conversation in controller}}
    <li>
      {{#link-to 'my_conversation' organization.slug conversation.slug}}
        {{partial "conversations/conversation"}}
      {{/link-to}}
    </li>
  {{else}}
    <h4>There are no conversations</h4>
  {{/each}}
</ul>
