{{#each doer in controller}}
  {{#if doer.isChanged}}
    <div class="pending-doer">
      <strong>
        {{#if doer.isAdded}}
          &add {{doer.name}}
        {{else}}
          &remove {{doer.name}}
        {{/if}}
      </strong>
      <span class="subtitle">
        as a doer
      </span>
    </div>
  {{/if}}
{{/each}}
