// media sizes
$large-screen-min-width: 1152px
$medium-screen-max-width: $large-screen-min-width - 1
$medium-screen-min-width: 768px
$small-screen-max-width: $medium-screen-min-width - 1


// colors
$white-color: #ffffff
$black-color: #000000
$lighter-grey-color: #edf0f3
$light-grey-color: #cfcdd2
$grey-color: #404040
$dark-grey-color: #333333
$yellow-color: #fbdb31
$slate-color: #464d4d
$faint-yellow-color: #fffac0
$faint-blue-color: #eefbfb
$bright-green-color: #8cc14c
$bright-blue-color: #0091ca
$bright-red-color: #da314b
$dark-red-color: #c0392b
$light-red-color: #e74c3c



// text colors
$grey-text-color: #bbb8bf
$dark-grey-text-color: #636363
$email-link-color: #3498DB

// font sizes
$normal-font-size: 14px

// sizes of things
$topbar-height: 50px
$sidebar-width: 300px
$pane1-width: 360px
$footer-height: 44px
$avatar-height: 52px
$avatar-small-height: 32px
$conversations-list-controls-height: 55px

// font-sizes

$small-font-size: 11px
$default-font-size: 14px
$large-font-size: 17px
$larger-font-size: 20px
$huge-font-size: 30px
