$min-screen-max-width: 479px
$small-screen-min-width: 480px
$small-screen-max-width: 767px
$medium-screen-min-width: 768px
$medium-screen-max-width: 959px
$large-screen-min-width: 960px
$large-screen-max-width: 1199px
$xlarge-screen-min-width: 1200px

$navbar-height: 50px
$groups-pane-width: 300px
$conversations-pane-width: 360px


// colors

$white-color: #FFFFFF
$lighter-grey-color: #edf0f3
$light-grey-color: #CFCDD2
$grey-color: #404040
$dark-grey-color: #333333
$grey-text-color: #bbb8bf
$yellow-color: #FBDB31
$faint-yellow-color: #fff6c5
$faint-blue-color: transparentize(#5fdddd, 0.9)
