$min-screen-max-width: 479px
$small-screen-min-width: 480px
$small-screen-max-width: 767px
$medium-screen-min-width: 768px
$medium-screen-max-width: 959px
$large-screen-min-width: 960px
$large-screen-max-width: 1199px
$xlarge-screen-min-width: 1200px

$navbar-height: 50px
