html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

html.rails-app
  body > .content
    overflow: hidden
    padding-bottom: $footer-height

html.client-app
  &, body
    overflow: hidden
  &, > .ember-view, .page
    width: 100%
    height: 100%

.hidden-on-small-screens
  +small-screens
    display: none !important

.hidden-on-small-and-medium-screens
  +small-to-medium-screens
    display: none !important

.hidden-on-medium-and-large-screens
  +medium-to-large-screens
    display: none !important

.hidden-on-large-screens
  +large-screens
    display: none !important
