=small-screens
  @media (max-width: $small-screen-max-width)
    @content

=medium-screens
  @media (min-width: $medium-screen-min-width) and (max-width: $medium-screen-max-width)
    @content

=large-screens
  @media (min-width: $large-screen-min-width)
    @content

=small-to-medium-screens
  @media (max-width: $medium-screen-max-width)
    @content

=medium-to-large-screens
  @media (min-width: $medium-screen-min-width)
    @content

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=absolute($top:null, $left:null, $bottom:null, $right:null)
  position: absolute
  @if $top
    top: $top
  @if $left
    left: $left
  @if $bottom
    bottom: $bottom
  @if $right
    right: $right

=animate-property($property)
  +transform(translate3d(0,0,0))
  +transition-property($property)
  +transition-duration(0.2s)
  +transition-timing-function(ease-in)

=no-select
  +user-select(none)
  cursor: default
