@import compass/utilities
@import compass/css3

@import "bootstrap"
@import "bootstrap-responsive"
@import "font-awesome"
@import "constants"
@import "classes"
@import "layout"
@import "widgets"


.full-columns
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  > .column
    position: absolute
    top: 0
    bottom: 0
    overflow-y: scroll
    width: 50%
    &.column-left
      left: 0
    &.column-right
      right: 0
