.covered-content
  margin-top: 1em
  .actions
    background-color: black
    overflow: hidden
    a, a:hover, a:visited
      float: left
      padding: 10px 15px
      color: #999
      text-decoration: none
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
      line-height: 20px
      font-size: 14px
      &.project
        padding: 10px
        font-size: 20px
        font-weight: 200
  .footer
    margin: 1em
    font-size: 80%
    &, a
      color: grey

.plain-text
  white-space: pre
  word-wrap: break-word

.marker
  display: block
  font-size: 0
  height: 0
  width: 0
