.covered-content
  table.covered-controls
    @media only screen and (max-device-width: 500px)
      width: 324px !important

      a.covered-button
        height: 26px !important
        line-height: 26px !important
        font-size: 15px !important
        margin-right: 2px !important

      table.covered-button-table
        height: 42px !important
        width: 324px !important

      table.covered-details
        width: 324px !important

      td.covered-details-inner
        text-align: left !important
