@import compass
@import compass/css3/user-interface
@import mixins
@import constants
@import classes/badge

.message-summary
  margin-top: 0.5em !important
  width: 100%
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important

  .conversations
    width: 100%

  .messages
    font-size: 14px
    font-weight: 300
    padding-top: 10px

  .heading
    font-weight: bold
    font-size: 14px

    .message-count-summary
      font-weight: 300

  .summary
    color: $light-grey-color
    font-size: 13px

  .summary, .subject
    white-space: nowrap
    overflow: hidden

  .new-count
    font-weight: normal

  .total-count
    color: $light-grey-color
