@import compass
@import compass/css3/user-interface
@import mixins
@import constants
@import classes/badge
@import threadable-button

.message-summary
  margin-top: 0.5em !important
  width: 100% !important
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif !important

  .message-list
    clear: both !important

  a.compose-button
    color: #364041 !important

  .conversations
    width: 100% !important

  .messages
    font-size: 14px !important
    font-weight: 300 !important
    padding-top: 10px !important

  .heading
    font-weight: bold !important
    font-size: 14px !important

    .message-count-summary
      font-weight: 300 !important

  .summary
    color: $grey-text-color !important
    font-size: 13px !important
    white-space: nowrap !important
    overflow: hidden !important

  .summary, .subject

  .new-count
    font-weight: normal !important

  .total-count
    color: $grey-text-color

  .badge
    line-height: 23px !important
    white-space: nowrap !important

  td.icon, td.spacer
    width: 20px !important
    height: 20px !important
    min-width: 20px !important
    padding-right: 4px !important

    img
      margin: 0
      border: 0
      padding: 0
      display: block

  .subject a, .footer a
    text-decoration: none !important
    color: $email-link-color !important
