@import compass
@import compass/css3/user-interface
@import mixins
@import constants
@import classes/badge
@import threadable-button

td, h1, h2, h3
  font-family: Helvetica, Arial, sans-serif

.message-summary
  font-family: Helvetica, Arial, sans-serif
  margin-top: 0.5em !important
  width: 100% !important

  .message-list
    clear: both !important

    a.follow-button
      color: #2980b9

  a.compose-button
    color: #364041

  .conversations
    width: 100% !important

  a.threadable-button
    text-decoration: none

  .messages
    font-size: 14px
    font-weight: 300
    padding-top: 10px !important

  .heading
    font-weight: bold
    font-size: 14px

    .message-count-summary
      font-weight: 300

  .summary
    color: $grey-text-color
    font-size: 13px
    white-space: nowrap !important
    overflow: hidden !important

  .summary, .subject

  .new-count
    font-weight: normal

  .total-count
    color: $grey-text-color

  .badge
    line-height: 23px !important
    white-space: nowrap !important

  td.icon, td.spacer
    width: 20px !important
    height: 20px !important
    min-width: 20px !important
    padding-right: 4px !important

    img
      margin: 0
      border: 0
      padding: 0
      display: block

  .subject a, .footer a
    text-decoration: none
    color: $email-link-color
