.fluid-columns
  .row
    .span10.offset2

      %h1 Organizations

      %table.organizations.table.table-hover
        %head
          %tr
            %th.name Name
            %th.name Description
            %th.actions Actions
        %tbody
          - @organizations.each do |organization|
            %tr
              %td.name
                = link_to organization.name, organization_conversations_path(organization)
              %td.description
                = organization.description

              %td.actions

                .btn-group
                  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                    %i.icon-cog
                  %ul.dropdown-menu
                    %li
                      = link_to edit_organization_path(organization) do
                        %i.icon-pencil
                        Edit
                    %li
                      = link_to leave_organization_path(organization), method: :put, data:{ confirm: 'Are you sure?' } do
                        %i.icon-trash
                        Leave
