.group
  position: relative

  .description
    font-size: 0.8em
    width: 210px
    display: inline-block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .badge
    float: right

  > a:first-child
    padding-left: $horizontal-padding * 3

  > .disclosure-triangle
    +absolute(0, 0, null, null)
    margin-top: 1px
    line-height: 19px
    border-top-color: transparent
    border-bottom-color: transparent
    box-shadow: none
    > i
      width: auto

    &.with-description
      line-height: 44px

  > .group-controls
    position: relative
    overflow: hidden
    height: 0
    +animate-property(height)
    > ul
      +absolute(null, 0, 0, 0)

  &.open
    > .group-controls
      height: 123px
    > .disclosure-triangle > .caret
      +rotate(90deg)
