
.horizontal-box
  +experimental-value(display, box)
  +experimental(box-orient, horizontal)
.vertical-box
  +experimental-value(display, box)
  +experimental(box-orient, vertical)
  height: 100%

.fill-container
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

.vertical-scroll-box
  overflow-y: auto

.well
  margin: 0
