$page_header_height: 50px
$page_min_width: 1000px
$page_min_height: 500px

html,body
  height: 100%
  width: 100%

body
  &.logged_out
    background-color: orange

    .left_panel
      display: none

  &.logged_in
    background-color: green
    .login_form
      display: none

  > .page_header
    position: absolute
    top: 0
    left: 0
    width: 100%
    min-width: $page_min_width
    height: $page_header_height

  > .page_content
    position: absolute
    top: $page_header_height
    left: 0
    right: 0
    bottom: 0
    width: 100%
    overflow: auto
    min-width: $page_min_width
    min-height: $page_min_height



.component
  display: none !important

