&
  a.shareworthy, a.knowledge
    text-decoration: none
    color: #999

  &[shareworthy] a.shareworthy
    color: #3A87AD
  &[knowledge] a.knowledge
    color: #3A87AD

  .message-head
    margin-bottom: 1em

  .message-body
    .message-text, .message-text-full
      white-space: pre-wrap
    .message-text, .message-actions, .message-text-full
      margin-left: 28px
    .message-text-full
      display: none
    .show-quoted-text
      font-weight: 900
      height: 15px
      line-height: 10px
      margin-left: 29px

  .message-body.show-full
    .message-text-full
      display: block
    .message-text, .show-quoted-text
      display: none
