&

  .message-text, .message-text-full
    white-space: pre-wrap
  .message-text, .message-actions, .message-text-full
    margin-left: 28px

  a.shareworthy, a.knowledge
    text-decoration: none
    color: #999

  &[shareworthy] a.shareworthy
    color: #3A87AD
  &[knowledge] a.knowledge
    color: #3A87AD

  .message-text-full
    display: none
