&
  padding-left: 20px
  padding-right: 20px

  .avatar
    margin-left: 2px
    margin-right: 2px
    > .name
      font-size: 0px

  .task-controls
    margin-left: 28px

  .task-title
    margin-bottom: 0

  .avatar-tiny
    display: inline-block

  .remove-self-from-doers
    display: none
  .add-self-as-doer
    display: inline

&.im-a-doer

  .remove-self-from-doers
    display: inline
  .add-self-as-doer
    display: none
