&
  form
    position: relative
    display: block
    padding-right: 37px
    button
      position: absolute
      top: 0
      right: 0
      width: 37px
    .input
      margin-right: 13px
      input
        width: 100%

  .btn-group
    margin: 10px 0

  input[name=subject]
    width: auto

  > .my_tasks, > .all_tasks, > .conversations
    display: none


  li
    &:hover, &.hover
      background-color: #FFFFD6
  > .conversations
    ol
      list-style-type: none
      margin: 0
      li
        .icon-comment-alt
          color: gainsboro
        a
          white-space: nowrap
          display: block
          text-decoration: none
          text-overflow: ellipsis
          overflow: hidden


&[showing=conversations] > .conversations
  display: block

&[showing=all_tasks] >  .all_tasks
  display: block

&[showing=my_tasks] > .my_tasks
  display: block
