&
  list-style-type: none
  margin: 0
  li
    position: relative

    a
      display: block
      margin: 0 18px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      text-decoration: none

    .icon-ok
      position: absolute
      top: 3px
      left: 0

    .icon-reorder
      display: none

  &.sortable
    li
      &.sortable-placeholder
        height: 20px
        border: 1px dashed #CCC
        background: none
      .icon-reorder
        display: block
        position: absolute
        top: 3px
        right: 0
        color: gainsboro
        cursor: move
