.page-footer
  .content
    .inline-list.small-text.pull-right
      %a{href:""} ©2014 THREADABLE
      / %a{href:""} FEEDBACK
      %a{href:"mailto:support@threadable.com"} CONTACT
      / %a{href:""} TERMS OF USE
      %a{href:"https://www.iubenda.com/privacy-policy/301375"} PRIVACY POLICY
      .circle-links
        %a{href:"https://twitter.com/threadable"}
          %i.fa.fa-twitter.fa-2x.fa-inverse
        %a{href:"https://www.facebook.com/threadable"}
          %i.fa.fa-facebook.fa-2x.fa-inverse
      %a.mixpanel-button{:href => "https://mixpanel.com/f/partner"}
        %img{:alt => "Mobile Analytics", :src => "//cdn.mxpnl.com/site_media/images/partner/badge_blue.png"}/
