%title Threadable
%meta{:name => "google-site-verification", :content => "kfvpLYOGNVmEBwLbv9kAElTfm9pIyHCQRYc_Y9c6uvo"}/
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}/
%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
%link{:href => asset_path('icon.png'), :rel => "apple-touch-icon"}/
%link{:href => asset_path('splash.png'), :rel => "apple-touch-startup-image"}/
%meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
= stylesheet_link_tag 'application', :media => "all"
= csrf_meta_tags
