%title Threadable
%meta{:name => "google-site-verification", :content => "kfvpLYOGNVmEBwLbv9kAElTfm9pIyHCQRYc_Y9c6uvo"}/
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"}/
%meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
= favicon_link_tag asset_path('favicon.ico')
= favicon_link_tag asset_path('icon.png'), rel: 'apple-touch-icon', type: 'image/png'
%meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
= csrf_meta_tags
%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
