%nav.nav
  .content
    .left-nav
      %a{href: root_url}
        = render 'shared/threadable_logo'
    .right-nav

      %a.button{href: "#quit-learning-new-tools", 'data-scroll-to' => 'quit-learning-new-tools'} Features
      %a.button.blue-button{href: sign_in_url} SIGN IN
