%nav.nav
  .content
    .left-nav
      %a{href: root_url}
        = render 'shared/threadable_logo'
    .right-nav

      %a.button{href: "http://blog.threadable.com"} Blog
      - if @on_homepage
        %a.button{href: "#quit-learning-new-tools", 'data-scroll-to' => 'quit-learning-new-tools'} Features
      - else
        %a.button{href: "/#quit-learning-new-tools"} Features

      - unless current_user.present?
        %a.button.blue-button.sign-in-button{href: sign_in_url} SIGN IN
