%nav.nav
  .content
    .left-nav
      %a{href: root_url}
        = render 'shared/threadable_logo'
    .right-nav

      %a.button{href: "http://blog.threadable.com"} BLOG
      - if @on_homepage
        %a.button{href: "#quit-learning-new-tools", 'data-scroll-to' => 'quit-learning-new-tools'} FEATURES
      - else
        %a.button{href: "/#quit-learning-new-tools"} FEATURES
      %a.button{href: "/pricing"} PRICING
      %a.button{href: "http://docs.threadable.apiary.io"} API
      - unless current_user.present?
        %a.button.blue-button.sign-in-button{href: sign_in_url(r: request.fullpath)} SIGN IN
