!!!
%html
  %head
    %title Covered
    = stylesheet_link_tag    "old", :media => "all"
    = javascript_include_tag "old"
    = csrf_meta_tags

  %body

    .page
      .content
        = yield
      .flash_messages
