!!!
%html
  %head
    %title Multify
    = javascript_include_tag "require.js", data:{ main: 'App' }
    = javascript_include_tag "config.js"
    = stylesheet_link_tag    "application", :media => "all"

  %body#body
    .nav-region
    .main-region
