!!!
%html.rails-app
  %head
    = render 'layouts/headers'
    = javascript_include_tag 'rails_app'
  %body
    .content= yield
    .footer
      Made by
      %a{:href => "http://other.io"} Other People.
      \|
      %a{href: "https://www.iubenda.com/privacy-policy/301375", title:"Privacy Policy"} Privacy Policy
      \|
      %a{href: "mailto:support@threadable.com"} Contact us
      %a.mixpanel-button.uk-float-right{:href => "https://mixpanel.com/f/partner"}
        %img{:alt => "Mobile Analytics", :src => "//cdn.mxpnl.com/site_media/images/partner/badge_blue.png"}/
