.uk-container-center.uk-width-large-1-3.uk-width-medium-1-2.authentication-form
  %h1 Almost done!
  .well-when-not-small
    %p We've sent you a confirmation email.
    %p Please click the link in your email to complete your account request.
